﻿<div ng-class="{'danger': vm.includeDangerHeader}" class="modal-header clearfix">
    <h3 class="modal-title pull-left"><i class="fa fa-desktop"></i> {{vm.title}}</h3>
    <button type="button" class="close pull-right" ng-click="vm.cancel()">&times;</button>
</div>
<div class="modal-body">
    <form class="form-horizontal" name="frm" novalidate>
        <div class="form-group">
            <label class="col-md-2">
                Client Name
                <span class="help-block" ng-if="frm.clientname.$error.required">(required)</span>
            </label>
            <div class="col-md-10">
                <label>{{vm.cssm.clientName}}</label>
            </div>
        </div>
        <div class="form-group" show-errors>
            <label class="col-md-2">
                Site Name
                <span class="help-block" ng-if="frm.siteName.$error.required">(required)</span>
            </label>

            <div class="col-md-10">
                <input type="text" ng-model="vm.cssm.siteName" class="form-control" name="siteName"
                       placeholder="Enter Site Name" ng-hide="vm.cssm.actionName !== 'Site'" required />
                <label ng-show="vm.cssm.actionName !== 'Site'">{{vm.cssm.siteName}}</label>
            </div>
        </div>
        <div class="form-group" show-errors>
            <label class="col-md-2">
                Station Name
                <span class="help-block" ng-if="frm.stationName.$error.required">(required)</span>
            </label>

            <div class="col-md-10">
                <input type="text" ng-model="vm.cssm.stationName" class="form-control" name="stationName"
                       placeholder="Enter Station Name" ng-show="vm.cssm.actionName === 'Site' || vm.cssm.actionName === 'Station'" required />
                <label ng-show="vm.cssm.actionName === 'Mobile'">{{vm.cssm.stationName}}</label>
            </div>
        </div>
        <div class="form-group" show-errors>
            <label class="col-md-2">
                Product Name
                <span class="help-block" ng-if="frm.ddlProduct.$error.required">(required)</span>
            </label>
            <div class="col-md-10">
                <select class="form-control" ng-model="vm.cssm.productName" name="ddlProduct" ng-hide="vm.vehicleType.id > 0"
                        ng-options="item.value as item.value for item in vm.allProducts" required>
                    <option value="">Please select a Product</option>
                </select>
            </div>
        </div>
        <div class="form-group" show-errors>
            <label class="col-md-2">
                Mobile Name
                <span class="help-block" ng-if="frm.mobileName.$error.required">(required)</span>
            </label>

            <div class="col-md-10">
                <input type="text" ng-model="vm.cssm.mobileName" class="form-control" name="mobileName"
                       placeholder="Enter Mobile Name" required
                       ng-disabled="vm.clientId > 0" />
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <div class="button-bar button-bar-modal">
        <button type="button" class="btn btn-lg btn-warning" ng-click="vm.cancel()" tabindex="11"><i class="fa fa-minus"></i> Cancel</button>
        <button type="submit" class="btn btn-lg btn-primary" ng-click="vm.save(frm)" tabindex="12"><i class="fa fa-save"></i> Save</button>
    </div>
</div>