﻿<div class="row">
    <div class="col-md-6">
        <h3>CSSM Tree View</h3>
    </div>
</div>

<form class="form-horizontal" name="frm" novalidate>
    <form-panel panel-heading="Search">
        <div class="row">
            <div class="form-group" show-errors>
                <div class="col-md-6">
                    <select class="form-control"
                            chosen
                            no-results-text="'Could not find Client'"
                            placeholder-text-single="'Please select a Client'"
                            search-contains="true"
                            allow-single-deselect="true"
                            name="ddlclient"
                            ng-model="vm.clientId"
                            ng-options="item.key as item.value for item in vm.allClients" required>
                        <option value=""></option>
                    </select>

                    <span class="help-block" ng-if="frm.ddlclient.$error.required">(required)</span>
                </div>

                <div class="col-md-6">
                    <button type="button" class="btn btn-lg btn-cancom" title="Search your data" ng-click="vm.search(frm)">
                        <i class="fa fa-search"></i> Search
                    </button>
                </div>
            </div>
        </div>
    </form-panel>

    <div class="row" ng-show="false">
        <div class="col-md-12">
            <div class="panel panel-warning panel-default" ng-show="vm.cssmTreeList != null">
                <div class="panel-heading">
                    <h3 class="panel-title">Client : {{vm.cssmTreeList.title}}</h3>
                    <div class="pull-right">
                        <button type="submit" class="grdBtn grdBtn-lg btn-primary" title="Add" style="margin-top: 10%"
                                ng-click="vm.onTreeAdd(vm.cssmTreeList.title, null, null, 'Site')">
                            <i class="fa fa-plus"></i> Add Site
                        </button>
                    </div>
                </div>

                <!--<div ng-repeat="site in vm.cssmTreeList.levels" class="panel panel-default"
                         style="padding: 10px 10px 0px 10px">-->
                <div class="col-md-12" ng-repeat="site in vm.cssmTreeList.levels" style="padding: 10px 10px 0px 10px">
                    <div class="panel-heading">
                        <h3 class="panel-title">Site : {{site.title}}</h3>

                        <div class="pull-right">
                            <button type="submit" class="grdBtn grdBtn-lg btn-primary" title="Add" style="margin-top: 10%"
                                    ng-click="vm.onTreeAdd(vm.cssmTreeList.title, site.title, null, 'Station')">
                                <i class="fa fa-plus"></i> Add Station
                            </button>
                        </div>
                    </div>
                    <div ng-repeat="station in site.levels" class="panel panel-default"
                         style="padding: 10px 10px 0px 10px">
                        <div class="panel-heading">
                            <h3 class="panel-title">Station : {{station.title}}</h3>

                            <div class="pull-right">
                                <button type="submit" class="grdBtn grdBtn-lg btn-primary" title="Add" style="margin-top: 10%"
                                        ng-click="vm.onTreeAdd(vm.cssmTreeList.title, site.title, station.title, 'Mobile')">
                                    <i class="fa fa-plus"></i> Add Mobile
                                </button>
                            </div>
                        </div>
                        <div class="row" ng-repeat="mobile in station.levels" style="padding: 10px 10px 0px 10px">
                            <h3 class="panel-title">Mobile : {{mobile.title}}</h3>
                        </div>
                    </div>
                </div>
                <!--</div>-->
            </div>
        </div>
    </div>

    <!--<div class="col-md-12" ng-show="vm.cssmTreeList.levels.length == 0">
        <h3 class="panel-title">No data found..</h3>
    </div>-->

    <div class="row" ng-show="vm.cssmTreeList.levels.length > 0">
        <div class="col-md-12">
            <div class="timeline timeline-right">
                <!--<div class="timeline-item timeline-main">
                    <div class="timeline-date">
                        <span class="fa fa-plus" />Add Site
                    </div>
                </div>-->
                <div class="timeline-item timeline-main">
                    <div class="timeline-date">
                        {{vm.cssmTreeList.title}}
                    </div>
                </div>
                <button class="btn btn-success pull-right" type="button" ng-click="vm.onTreeAdd(vm.cssmTreeList.title, null, null, 'Site')"><span class="fa fa-plus"></span>Add Site</button>
                <div ng-repeat="site in vm.cssmTreeList.levels">
                    <div class="timeline-item timeline-item-right">
                        <div class="timeline-item-info">
                            Site - {{site.title}}
                            <span class="fa fa-trash pull-right siteDeleteBtn cursor" ng-click="vm.onTreeDelete(site.csspmid, 'Site', 'If you say Yes, below associated Stations and Mobiles will be deleted.', frm)"></span>
                        </div>

                        <div class="timeline-item-icon">
                            <span class="fa fa-plus cursor successColor" title="Add Station" ng-click="vm.onTreeAdd(vm.cssmTreeList.title, site.title, null, 'Station')"></span>
                        </div>

                        <div ng-repeat="station in site.levels">
                            <div class="timeline-item-content">
                                <div class="timeline-heading">
                                    <div class="col-md-9">
                                        <h4>
                                            <span class="fa fa-home">
                                            </span> Station - {{station.title}}
                                        </h4>
                                    </div>
                                    <div class="col-md-3">
                                        <button type="submit" class="btn btn-danger btn-xs pull-right mobileBtnAlign" title="Add"
                                                ng-click="vm.onTreeDelete(station.csspmid, 'Station', 'If you say Yes, below associated Mobiles will be deleted.', frm)">
                                            Delete Station
                                        </button>
                                        <button type="submit" class="btn btn-success btn-xs pull-right" title="Add"
                                                ng-click="vm.onTreeAdd(vm.cssmTreeList.title, site.title, station.title, 'Mobile')">
                                            Add Mobile
                                        </button>
                                    </div>
                                </div>
                                <div class="timeline-body">
                                    <div ng-repeat="mobile in station.levels">
                                        <div class="col-md-3">
                                            <div>
                                                <div class="input-group mobileTileAlign">
                                                    <div class="mobileTile">{{mobile.title}}</div>
                                                    <span class="input-group-btn">
                                                        <button class="btn btn-primary" type="button" ng-click="vm.onTreeDelete(mobile.csspmid, 'Mobile','', frm)"><span class="fa fa-trash"></span></button>
                                                    </span>
                                                </div>
                                            </div>

                                            <!--<div class="row">
                                                <div class="col-md-10">
                                                    <button type="submit" class="btn btn-primary btn-xs" title="Add"
                                                            ng-click="vm.onTreeAdd(vm.cssmTreeList.title, site.title, station.title, 'Mobile')"></button>
                                                </div>
                                                <div class="col-md-2">
                                                    <a href="#" class="tile tile-info">
                                                        <div class="informer informer-default dir-tr"><span class="fa fa-times"></span></div>
                                                    </a>
                                                    <button type="submit" class="btn btn-primary btn-sm" title="Add"
                                                            ng-click="vm.onTreeAdd(vm.cssmTreeList.title, site.title, station.title, 'Mobile')">
                                                        Add Mobile
                                                    </button>
                                                </div>
                                            </div>-->
                                            <!--{{mobile.title}}-->
                                        </div>
                                    </div>

                                    <!--<div class="timeline-footer">
                                        <div>
                                            <button type="submit" class="grdBtn grdBtn-lg btn-primary" title="Add"
                                                    ng-click="vm.onTreeAdd(vm.cssmTreeList.title, site.title, station.title, 'Mobile')">
                                                <i class="fa fa-plus"></i> Add Mobile
                                            </button>
                                        </div>
                                    </div>-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="test" class="tree" ng-hide="true">
        <ul>
            <li class="parent_li">
                <div>Client - {{vm.clientId}}</div>
                <ul>
                    <li class="parent_li">
                        <table class="table table-bordered">
                            <tr>
                                <td>
                                    <span>Site 1</span><ul></ul>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-lg btn-cancom">
                                        <i class="fa fa-minus"></i> Delete Sites
                                    </button>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-lg btn-cancom" title="Search your data" ng-click="vm.search(frm)">
                                        <i class="fa fa-refresh"></i> Add
                                    </button>
                                </td>
                            </tr>
                        </table>

                        <ul>
                            <li class="parent_li">
                                <span title="Verkleinern">Stations</span><ul>
                                    <li class="parent_li">
                                        <span>Mobile 1</span><ul></ul>
                                    </li>
                                    <li class="parent_li">
                                        <span>Mobile 2</span><ul></ul>
                                    </li>
                                    <li class="parent_li">
                                        <span>Mobile 3</span><ul></ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="parent_li">
                                <span title="Verkleinern">Test 2</span><ul>
                                    <li class="parent_li">
                                        <span title="Verkleinern">Test 1</span><ul></ul>
                                    </li>
                                    <li class="parent_li">
                                        <span title="Verkleinern">Test 2</span><ul></ul>
                                    </li>
                                    <li class="parent_li">
                                        <span title="Verkleinern">Test 3</span><ul></ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="parent_li">
                                <span title="Verkleinern">Test 3</span><ul>
                                    <li class="parent_li"><span title="Verkleinern">Test 1</span><ul></ul></li>
                                    <li class="parent_li"><span title="Verkleinern">Test 2</span><ul></ul></li>
                                    <li class="parent_li"><span title="Verkleinern">Test 3</span><ul></ul></li>
                                </ul>
                            </li>
                        </ul>
                    </li>


                </ul>
            </li>

        </ul>
    </div>
</form>
