﻿<form class="form-horizontal" name="frm" novalidate>
    <form-panel panel-heading="Vehicle Type Details">
        <div class="form-group" ng-show="vm.vehicleType.id > 0">
            <label class="col-md-2">
                Client
            </label>
            <label class="col-md-10">{{vm.vehicleType.clientName}}</label>
        </div>

        <div class="form-group" ng-hide="vm.vehicleType.id > 0">
            <label class="col-md-2">
                Client
                <span class="help-block" ng-if="frm.ddlClient.$error.required">(required)</span>
            </label>

            <div class="col-md-10">
                <select class="form-control"
                        chosen
                        no-results-text="'Could not find Client'"
                        placeholder-text-single="'Please select a Client'"
                        search-contains="true"
                        allow-single-deselect="true"
                        name="ddlClient"
                        ng-change="vm.onClientChange()"
                        ng-model="vm.vehicleType.clientId"
                        ng-options="item.key as item.value for item in vm.allClients" required>
                    <option value=""></option>
                </select>
            </div>
        </div>

        <div class="form-group" ng-show="vm.vehicleType.id > 0">
            <label class="col-md-2">
                Site
            </label>
            <label class="col-md-10">{{vm.vehicleType.siteName}}</label>
        </div>

        <div class="form-group" show-errors ng-hide="vm.vehicleType.id > 0">
            <label class="col-md-2">
                Site
                <span class="help-block" ng-if="frm.ddlSite.$error.required">(required)</span>
            </label>

            <div class="col-md-10">
                <select class="form-control"
                        chosen
                        no-results-text="'Could not find site'"
                        placeholder-text-single="'Please select a Site'"
                        search-contains="true"
                        allow-single-deselect="true"
                        name="ddlSite"
                        ng-change="vm.onSiteChange()"
                        ng-model="vm.vehicleType.siteId"
                        ng-options="item.key as item.value for item in vm.allSites" required>
                    <option value=""></option>
                </select>
            </div>
        </div>

        <div class="form-group" show-errors ng-hide="vm.vehicleType.id > 0">
            <label class="col-md-2">
                Station
                <span class="help-block" ng-if="frm.ddlStation.$error.required">(required)</span>
            </label>

            <div class="col-md-10">
                <select class="form-control"
                        chosen
                        no-results-text="'Could not find station'"
                        placeholder-text-single="'Please select a Station'"
                        search-contains="true"
                        allow-single-deselect="true"
                        name="ddlStation"
                        ng-change="vm.onStationChange()"
                        ng-model="vm.vehicleType.stationId"
                        ng-options="item.key as item.value for item in vm.allStations" required>
                    <option value=""></option>
                </select>
            </div>
        </div>

        <div class="form-group" show-errors ng-hide="vm.vehicleType.id > 0">
            <label class="col-md-2">
                Product
                <span class="help-block" ng-if="frm.ddlProduct.$error.required">(required)</span>
            </label>

            <div class="col-md-10">
                <select class="form-control"
                        chosen
                        no-results-text="'Could not find product'"
                        placeholder-text-single="'Please select a Product'"
                        search-contains="true"
                        allow-single-deselect="true"
                        name="ddlProduct"
                        ng-change="vm.onProductChange()"
                        ng-model="vm.vehicleType.productId"
                        ng-options="item.key as item.value for item in vm.allProducts" required>
                    <option value=""></option>
                </select>
            </div>
        </div>

        <div class="form-group" show-errors ng-hide="vm.vehicleType.id > 0">
            <label class="col-md-2">
                Mobile
                <span class="help-block" ng-if="frm.ddlMobile.$error.required">(required)</span>
            </label>

            <div class="col-md-10">
                <!--<select chosen
                            class="form-control"
                            name="ddlMobile"
                            data-placeholder-text-single="'Please select a Mobile'"
                            no-results-text="'Could not find any Mobile - '"
                            ng-model="vm.vehicleType.mobileId"
                            ng-options="item.key as item.value for item in vm.allMobiles"
                            ng-change="vm.onMobileChange(vm.vehicleType)" required>
                    <option value="Please select a Mobile"></option>
                </select>-->

                <select class="form-control"
                        chosen
                        no-results-text="'Could not find mobile'"
                        placeholder-text-single="'Please select a Mobile'"
                        search-contains="true"
                        allow-single-deselect="true"
                        name="ddlMobile"
                        ng-model="vm.vehicleType.mobileId"
                        ng-options="item.key as item.value for item in vm.allMobiles"
                        ng-change="vm.onMobileChange(vm.vehicleType)" required>
                    <option value=""></option>
                </select>
            </div>
        </div>

        <div class="form-group" ng-show="vm.vehicleType.id > 0">
            <label class="col-md-2">
                Transaction Type
            </label>
            <label class="col-md-10">{{vm.vehicleType.transactionName}}</label>
        </div>

        <div class="form-group" show-errors ng-hide="vm.vehicleType.id > 0">
            <label class="col-md-2">
                Transaction Type
                <span class="help-block" ng-if="frm.ddlTransactionType.$error.required">(required)</span>
            </label>

            <div class="col-md-10">
                <select class="form-control"
                        chosen
                        no-results-text="'Could not find Transaction Type'"
                        placeholder-text-single="'Please select a Transaction Type'"
                        search-contains="true"
                        allow-single-deselect="true"
                        name="ddlTransactionType"
                        ng-model="vm.vehicleType.transactionTypeId"
                        ng-options="item.key as item.value for item in vm.allTransactionTypes" required>
                    <option value=""></option>
                </select>
            </div>
        </div>

        <div class="form-group" show-errors>
            <label class="col-md-2">
                Description
                <span class="help-block" ng-if="frm.description.$error.required">(required)</span>
            </label>
            <div class="col-md-10">
                <textarea class="form-control" rows="5" ng-model="vm.vehicleType.description" name="description"
                          placeholder="Enter Description" required></textarea>
            </div>
        </div>

    </form-panel>
    <div class="button-bar">
        <validation-Message></validation-Message>
        <button type="button" class="btn btn-lg btn-warning" ng-click="vm.cancel()" tabindex="11"><i class="fa fa-minus"></i> Cancel</button>
        <button type="submit" class="btn btn-lg btn-primary" ng-click="vm.save(vm.vehicleType,frm)" tabindex="12"><i class="fa fa-save"></i> Save</button>
    </div>
</form>
