﻿<form-panel panel-heading="Manage Mobile Settings">
    <div class="alertInfo alert-info" ng-show="vm.csspmId > 0">
        <span class="marginLeft15"><strong>CSSPMID : </strong> {{vm.csspmId}}</span>
    </div>
    <div class="panel panel-default tabs">
        <uib-tabset active="vm.active">
            <uib-tab index="tab.index" ng-repeat="tab in vm.tabs" heading="{{tab.title}}" deselect="vm.deselect($event,$selectedIndex,tab.formname, tab)">
                <div ng-switch on="tab.id">
                    <div ng-switch-when="0">
                        <div class="panel-body tab-content">
                            <div class="tab-pane active">
                                <form class="form-horizontal" name="tab.formname" novalidate>
                                    <div class="form-group" show-errors>
                                        <label class="col-md-2">
                                            Webservice Url
                                            <span class="help-block" ng-if="generalFrm.webserviceUrl.$error.required">(required)</span>
                                            <span class="help-block" ng-show="generalFrm.webserviceUrl.$error.pattern">(Invalid Webservice Url)</span>
                                        </label>

                                        <div class="col-md-6">
                                            <input type="text" ng-model="vm.general.webserviceUrl" class="form-control" name="webserviceUrl"
                                                   ng-pattern='/^(http[s]?:\/\/){0,1}(www\.){0,1}[a-zA-Z0-9\.\-]+\.[a-zA-Z]{2,5}[\.]{0,1}/'
                                                   placeholder="Enter Webservice Url" required />
                                        </div>
                                    </div>

                                    <div class="form-group" show-errors>
                                        <label class="col-md-2">
                                            Server Url
                                            <span class="help-block" ng-if="generalFrm.serverIp.$error.required">(required)</span>
                                            <span class="help-block" ng-show="generalFrm.serverIp.$error.pattern">(Invalid Server IP)</span>
                                        </label>

                                        <div class="col-md-6">
                                            <input type='text' ng-model="vm.general.serverIp" class="form-control" name="serverIp"
                                                   ng-pattern='/^(http[s]?:\/\/){0,1}(www\.){0,1}[a-zA-Z0-9\.\-]+\.[a-zA-Z]{2,5}[\.]{0,1}/'
                                                   placeholder='Enter server IP' required />
                                        </div>
                                    </div>

                                    <div class="form-group" show-errors>
                                        <label class="col-md-2">
                                            Terms & Conditions
                                            <span class="help-block" ng-if="generalFrm.termsAndConditions.$error.required">(required)</span>
                                        </label>

                                        <div class="col-md-6">
                                            <textarea class="form-control" rows="5" ng-model="vm.general.termsAndConditions"
                                                      name="termsAndConditions" required></textarea>
                                        </div>
                                    </div>

                                    <div class="button-bar">
                                        <button type="button" class="btn btn-lg btn-warning" ng-click="vm.cancel()" tabindex="11"><i class="fa fa-minus"></i> Cancel</button>
                                        <button type="submit" class="btn btn-lg btn-primary" tabindex="12" ng-click="vm.generalSettingsSave(tab.formname)"><i class="fa fa-save"></i> Save</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div ng-switch-when="1">
                        <div class="panel-body tab-content">
                            <div class="tab-pane active">
                                <div class="row">
                                    <div class="col-md-12">
                                        <form class="form-horizontal" name="tab.formname" novalidate>
                                            <form-panel panel-heading="Mobile Device Settings">

                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label class="col-md-6">
                                                            Access Verification
                                                        </label>
                                                        <div class="col-md-6">
                                                            <input class="icheckbox_minimal-grey" type="checkbox" ng-model="vm.client.accessVerification" name="accessVerification" />
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-md-6">
                                                            Use Old Imager
                                                        </label>
                                                        <div class="col-md-6">
                                                            <input class="icheckbox_minimal-grey" type="checkbox" ng-model="vm.client.useOldImager" name="useOldImager" />
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <label class="col-md-6">
                                                            Blacklist Alert
                                                        </label>
                                                        <div class="col-md-6">
                                                            <input class="icheckbox_minimal-grey" type="checkbox" ng-model="vm.client.blacklistAlert" name="blacklistAlert" />
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-md-6">
                                                            Impro
                                                        </label>
                                                        <div class="col-md-6">
                                                            <input class="icheckbox_minimal-grey" type="checkbox" ng-model="vm.client.impro" name="impro" />
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <label class="col-md-6">
                                                            HoneyComb
                                                        </label>
                                                        <div class="col-md-6">
                                                            <input class="icheckbox_minimal-grey" type="checkbox" ng-model="vm.client.honeyComb" name="honeyComb"/>
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <label class="col-md-6">
                                                            Customer Document Verification
                                                        </label>
                                                        <div class="col-md-6">
                                                            <input class="icheckbox_minimal-grey" type="checkbox" ng-model="vm.client.customerDocumentVerification" name="customerDocumentVerification" />
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-md-8">

                                                    <div class="form-group">
                                                        <label class="col-md-4">
                                                            Network Check
                                                        </label>
                                                        <div class="col-md-8">
                                                            <input class="icheckbox_minimal-grey" type="checkbox" ng-model="vm.client.networkCheck" name="networkcheck"
                                                                   ng-change="vm.networkCheckChange()" />
                                                        </div>
                                                    </div>

                                                    <div class="form-group" show-errors ng-show="vm.client.networkCheck">
                                                        <label class="col-md-4">
                                                            Interval (sec's)
                                                            <span class="help-block" ng-if="clientFrm.networkinterval.$error.required">(required)</span>
                                                        </label>
                                                        <div class="col-md-2">
                                                            <input type="text" ng-model="vm.client.networkInterval" class="form-control"
                                                                   numeric name="networkinterval" placeholder="Enter Interval value" ng-required="vm.client.networkCheck" />
                                                        </div>
                                                    </div>

                                                    <div class="form-group" show-errors ng-show="vm.client.networkCheck">
                                                        <label class="col-md-4">
                                                            Error Message
                                                            <span class="help-block" ng-if="clientFrm.networkerrormessage.$error.required">(required)</span>
                                                        </label>
                                                        <div class="col-md-8">
                                                            <textarea class="form-control" rows="5" ng-model="vm.client.networkErrorMessage"
                                                                      name="networkerrormessage" placeholder="Enter error message"
                                                                      ng-required="vm.client.networkCheck" maxlength="100"></textarea>
                                                            <span class="pull-right" ng-class="{'normalCharacter': vm.client.networkErrorMessage.length < 75, 'warningCharacter': vm.client.networkErrorMessage.length >= 75, 'dangerCharacter': vm.client.networkErrorMessage.length >= 90 }">
                                                                {{100 - vm.client.networkErrorMessage.length}} of 100 characters left
                                                            </span>
                                                        </div>
                                                    </div>



                                                    <div class="form-group">
                                                        <label class="col-md-4">
                                                            Battery Check
                                                        </label>
                                                        <div class="col-md-8">
                                                            <input class="icheckbox_minimal-grey" type="checkbox" ng-model="vm.client.batteryCheck" name="batterycheck"
                                                                   ng-change="vm.batteryCheckChange()" />
                                                        </div>
                                                    </div>

                                                    <div class="form-group" show-errors ng-show="vm.client.batteryCheck">
                                                        <label class="col-md-4">
                                                            Battery Warning Percentage
                                                            <span class="help-block" ng-if="clientFrm.batterywarningpercentage.$error.required">(required)</span>
                                                        </label>
                                                        <div class="col-md-2">
                                                            <div class="input-group">
                                                                <input type="text" numeric class="form-control" ng-model="vm.client.batteryWarningPercentage"
                                                                       name="batterywarningpercentage" placeholder="Percentage"
                                                                       ng-required="vm.client.batteryCheck">
                                                                <span class="input-group-addon">%</span>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="form-group" show-errors ng-show="vm.client.batteryCheck">
                                                        <label class="col-md-4">
                                                           Battery Interval (sec's)
                                                            <span class="help-block" ng-if="clientFrm.batteryInterval.$error.required">(required)</span>
                                                        </label>
                                                        <div class="col-md-2">
                                                            <input type="text" ng-model="vm.client.batteryInterval" class="form-control"
                                                                   numeric name="batteryInterval" placeholder="Enter Interval value" ng-required="vm.client.batteryCheck" />
                                                        </div>
                                                    </div>

                                                </div>
                                            </form-panel>
                                        </form>
                                    </div>
                                </div>

                                <div class="button-bar">
                                    <button type="button" class="btn btn-lg btn-warning" ng-click="vm.cancel()" tabindex="11"><i class="fa fa-minus"></i> Cancel</button>
                                    <button type="submit" class="btn btn-lg btn-primary" tabindex="12" ng-click="vm.clientSettingsSave(tab.formname)"><i class="fa fa-save"></i> Save</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div ng-switch-when="2">
                        <div class="panel-body tab-content">
                            <div class="tab-pane active">
                                <form class="form-horizontal" name="tab.formname" novalidate>
                                    <div class="alert alert-warning">
                                        <strong>Instructions:</strong>
                                        The following controls can be excluded enter from form flows.
                                    </div>
                                    <div class="col-md-12 customPanel">
                                        <div class="form-group">
                                            <label class="col-md-2">
                                                Transaction Types
                                            </label>
                                            <div class="col-md-1">
                                                <input class="icheckbox_minimal-grey" type="checkbox" ng-model="vm.enter.transactionType" />
                                            </div>
                                            <div class="col-md-7">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="col-md-8">
                                                <input type="text" ng-model="vm.enter.transactionTypeValue" class="form-control" name="transactionTypeValue"
                                                       placeholder="Enter Transaction Type value" />
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-md-2">
                                                Vehicle Types
                                            </label>
                                            <div class="col-md-1">
                                                <input class="icheckbox_minimal-grey" type="checkbox" ng-model="vm.enter.vehicleType" />
                                            </div>
                                            <div class="col-md-7">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="col-md-8">
                                                <input type="text" ng-model="vm.enter.vehicleTypeValue" class="form-control" name="vehicleTypeValue"
                                                       placeholder="Enter Vehicle Type value" />
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-12 customTransaparentPanel">
                                        <div class="form-group marginTopLeft10">
                                            <label class="col-md-2">
                                                Vehicle License
                                            </label>
                                            <div class="col-md-10">
                                                <input class="icheckbox_minimal-grey" type="checkbox" ng-model="vm.enter.vehicleLicense" />
                                            </div>
                                        </div>
                                        <div class="form-group marginLeft10">
                                            <label class="col-md-2">
                                                Driver's License
                                            </label>
                                            <div class="col-md-10">
                                                <input class="icheckbox_minimal-grey" type="checkbox" ng-model="vm.enter.driverLicense" />
                                            </div>
                                        </div>
                                        <div class="form-group marginLeft10">
                                            <label class="col-md-2">
                                                Signature
                                            </label>
                                            <div class="col-md-10">
                                                <input class="icheckbox_minimal-grey" type="checkbox" ng-model="vm.enter.signature" />
                                            </div>
                                        </div>
                                    </div>

                                    <div class="button-bar">
                                        <button type="button" class="btn btn-lg btn-warning" ng-click="vm.cancel()" tabindex="11"><i class="fa fa-minus"></i> Cancel</button>
                                        <button type="submit" class="btn btn-lg btn-primary" tabindex="12" ng-click="vm.enterSettingsSave(tab.formname)"><i class="fa fa-save"></i> Save</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                    <div ng-switch-when="3">
                        <div class="panel-body tab-content">
                            <div class="tab-pane active">
                                <form class="form-horizontal" name="tab.formname" novalidate>
                                    <div class="alert alert-warning">
                                        <strong>Instructions:</strong>
                                        The following controls can be excluded exit from form flows.
                                    </div>
                                    <div class="col-md-12 customPanel">
                                        <div class="form-group">
                                            <label class="col-md-2">
                                                Vehicle Types
                                            </label>
                                            <div class="col-md-1">
                                                <input class="icheckbox_minimal-grey" type="checkbox" ng-model="vm.exit.vehicleType" name="vehicleTypesExit" />
                                            </div>
                                            <div class="col-md-7">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-8">
                                                <input type="text" ng-model="vm.exit.vehicleTypeValue" class="form-control" name="vehicleTypeExitValue"
                                                       placeholder="Enter Vehicle Type value" />
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-12 customTransaparentPanel">
                                        <div class="form-group">
                                            <label class="col-md-2">
                                                Vehicle License
                                            </label>
                                            <div class="col-md-10">
                                                <input class="icheckbox_minimal-grey" type="checkbox" ng-model="vm.exit.vehicleLicense" name="vehicleLicenseExit" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-2">
                                                Driver's License
                                            </label>
                                            <div class="col-md-10">
                                                <input class="icheckbox_minimal-grey" type="checkbox" ng-model="vm.exit.driverLicense" name="driverLicenseExit" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-2">
                                                Signature
                                            </label>
                                            <div class="col-md-10">
                                                <input class="icheckbox_minimal-grey" type="checkbox" ng-model="vm.exit.signature" name="signatureExit" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-2">
                                                Validate Driver
                                            </label>
                                            <div class="col-md-10">
                                                <input class="icheckbox_minimal-grey" type="checkbox" ng-model="vm.exit.validateDriver" name="validateDriverExit" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-2">
                                                SMS Exit
                                            </label>
                                            <div class="col-md-10">
                                                <input class="icheckbox_minimal-grey" type="checkbox" ng-model="vm.exit.smsExit" name="smsExit" />
                                            </div>
                                        </div>
                                    </div>

                                    <div class="button-bar">
                                        <button type="button" class="btn btn-lg btn-warning" ng-click="vm.cancel()" tabindex="11"><i class="fa fa-minus"></i> Cancel</button>
                                        <button type="submit" class="btn btn-lg btn-primary" tabindex="12" ng-click="vm.exitSettingsSave(tab.formname)"><i class="fa fa-save"></i> Save</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                    <div ng-switch-when="4">
                        <div class="panel-body tab-content">
                            <div class="tab-pane active">
                                <form class="form-horizontal" name="tab.formname" novalidate>
                                    <div class="form-group">
                                        <label class="col-md-2">
                                            Use 3G
                                            <span class="help-block" ng-if="frm.use3G.$error.required">(required)</span>
                                        </label>
                                        <div class="col-md-10">
                                            <input class="icheckbox_minimal-grey" type="checkbox" ng-model="vm.network.use3G" name="use3G" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2">
                                            Use 802.11 Network
                                            <span class="help-block" ng-if="frm.use802Network.$error.required">(required)</span>
                                        </label>
                                        <div class="col-md-10">
                                            <input class="icheckbox_minimal-grey" type="checkbox" ng-model="vm.network.use802Network" name="use802Network" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2">
                                            Use GPS
                                        </label>
                                        <div class="col-md-10">
                                            <input class="icheckbox_minimal-grey" type="checkbox" ng-model="vm.network.useGps" name="useGps" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2">
                                            Use Phone
                                        </label>
                                        <div class="col-md-10">
                                            <input class="icheckbox_minimal-grey" type="checkbox" ng-model="vm.network.usePhone" name="usePhone" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2">
                                            Use Tran Access
                                        </label>
                                        <div class="col-md-10">
                                            <input class="icheckbox_minimal-grey" type="checkbox" ng-model="vm.network.useTranAccess" name="useTranAccess" />
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-md-2">
                                            Use SS Feature
                                        </label>
                                        <div class="col-md-10">
                                            <input class="icheckbox_minimal-grey" type="checkbox" ng-model="vm.network.useSSFeature" name="useSSFeature" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2">
                                            Value
                                        </label>

                                        <div class="col-md-6">
                                            <input type="text" ng-model="vm.network.value" class="form-control" name="networkValue"
                                                   placeholder="Enter Network value" />
                                        </div>
                                    </div>

                                    <div class="button-bar">
                                        <button type="button" class="btn btn-lg btn-warning" ng-click="vm.cancel()" tabindex="11"><i class="fa fa-minus"></i> Cancel</button>
                                        <button type="submit" class="btn btn-lg btn-primary" tabindex="12" ng-click="vm.networkSettingsSave(tab.formname)"><i class="fa fa-save"></i> Save</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                    <div ng-switch-when="5">
                        <div class="panel-body tab-content">
                            <div class="tab-pane active">
                                <form class="form-horizontal" name="tab.formname" novalidate>
                                    <div class="col-md-12 customPanel">
                                        <div class="form-group">
                                            <label class="col-md-3">
                                                Is Length for Cell Form
                                                <span class="help-block" ng-if="frm.isCellLength.$error.required">(required)</span>
                                            </label>
                                            <div class="col-md-1">
                                                <input class="icheckbox_minimal-grey" type="checkbox" ng-model="vm.form.isCellLength" name="isCellLength" />
                                            </div>
                                            <div class="col-md-7">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-8">
                                                <input type="text" numeric ng-model="vm.form.cellLengthValue" class="form-control" name="cellLengthValue"
                                                       placeholder="Enter Cell Length value" />
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-md-3">
                                                Is Length for Card No Form
                                                <span class="help-block" ng-if="frm.isCardNumberLength.$error.required">(required)</span>
                                            </label>
                                            <div class="col-md-1">
                                                <input class="icheckbox_minimal-grey" type="checkbox" ng-model="vm.form.isCardNumberLength" name="isCardNumberLength" />
                                            </div>
                                            <div class="col-md-7">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="col-md-8">
                                                <input type="text" numeric ng-model="vm.form.cardNumberLengthValue" class="form-control" name="cardNumberLengthValue"
                                                       placeholder="Enter Card Length value" />
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-12 customTransaparentPanel">
                                        <div class="form-group">
                                            <label class="col-md-3">
                                                Advanced Numpad
                                                <span class="help-block" ng-if="frm.advancedNumpad.$error.required">(required)</span>
                                            </label>
                                            <div class="col-md-9">
                                                <input class="icheckbox_minimal-grey" type="checkbox" ng-model="vm.form.advancedNumpad" name="advancedNumpad" />
                                            </div>
                                        </div>
                                    </div>

                                    <div class="button-bar">
                                        <button type="button" class="btn btn-lg btn-warning" ng-click="vm.cancel()" tabindex="11"><i class="fa fa-minus"></i> Cancel</button>
                                        <button type="submit" class="btn btn-lg btn-primary" tabindex="12" ng-click="vm.formSettingsSave(tab.formname)"><i class="fa fa-save"></i> Save</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                    <div ng-switch-when="6">
                        <div class="panel-body tab-content">
                            <div class="tab-pane active">
                                <form class="form-horizontal" name="tab.formname" novalidate>
                                    <div class="col-md-6">
                                        <form-panel panel-heading="Budget Options">
                                            <div class="form-group">
                                                <label class="col-md-6">
                                                    Vehicle Exit Permission
                                                </label>
                                                <div class="col-md-6">
                                                    <input class="icheckbox_minimal-grey" type="checkbox" ng-model="vm.options.vehicleExitPermission" name="vehicleExitPermission" />
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="col-md-6">
                                                    Stock Tracking
                                                </label>
                                                <div class="col-md-6">
                                                    <input class="icheckbox_minimal-grey" type="checkbox" ng-model="vm.options.stockTracking" name="stockTracking" />
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="col-md-6">
                                                    Over Ride Budget Flow
                                                </label>
                                                <div class="col-md-6">
                                                    <input class="icheckbox_minimal-grey" type="checkbox" ng-model="vm.options.overRideBudgetFlow" name="overRideBudgetFlow" />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-md-12 pull-left">
                                                    <!--<label class="labelBoldBlack"> Override Budget Flows skips Vehicle Return Date and dealship controls depending on whether STP or Branch is chosen for NonRevenue Movement.</label>-->
                                                    <blockquote>
                                                        <label class="labelBoldWarning"> Override Budget Flows skips Vehicle Return Date and dealship controls depending on whether STP or Branch is chosen for NonRevenue Movement.</label>
                                                    </blockquote>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-6">
                                                    On Permission Entry
                                                </label>
                                                <div class="col-md-6">
                                                    <input class="icheckbox_minimal-grey" type="checkbox" ng-model="vm.options.onPermissionEntry" name="onPermissionEntry" />
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <div class="col-md-8">
                                                    <input type="text" ng-model="vm.options.enterPermissionDetails" class="form-control" name="enterPermissionDetails"
                                                           placeholder="Enter Permission Entry details" />
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <div class="col-md-12 pull-left">
                                                    <blockquote>
                                                        <label class="labelBoldWarning"> Checks to see if the driver has a permission to take a vehicle before gaining entry to the complex</label>
                                                    </blockquote>
                                                </div>
                                            </div>
                                        </form-panel>
                                    </div>

                                    <div class="col-md-6">
                                        <form-panel panel-heading="RAC Options">
                                            <div class="form-group">
                                                <label class="col-md-6">
                                                    RAC CARD CHECK
                                                </label>
                                                <div class="col-md-6">
                                                    <input class="icheckbox_minimal-grey" type="checkbox" ng-model="vm.options.racCardCheck" name="racCardCheck" />
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="col-md-6">
                                                    Check for Duplicate entry/exit
                                                </label>
                                                <div class="col-md-6">
                                                    <input class="icheckbox_minimal-grey" type="checkbox" ng-model="vm.options.checkForDuplicateEntry" name="checkForDuplicateEntryExit" />
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="col-md-6">
                                                    Check for Duplicate Docs
                                                </label>
                                                <div class="col-md-6">
                                                    <input class="icheckbox_minimal-grey" type="checkbox" ng-model="vm.options.checkForDuplicateDocs" name="checkForDuplicateDocs" />
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="col-md-6">
                                                    Check for No. Occupants
                                                </label>
                                                <div class="col-md-6">
                                                    <input class="icheckbox_minimal-grey" type="checkbox" ng-model="vm.options.checkForNoumberOfOccupants" name="checkForNoumberOfOccupants" />
                                                </div>
                                            </div>


                                            <div class="form-group">
                                                <label class="col-md-6">
                                                    Override Driver License
                                                </label>
                                                <div class="col-md-6">
                                                    <input class="icheckbox_minimal-grey" type="checkbox" ng-model="vm.options.overrideDriverLicense" name="overrideDriverLicense" />
                                                </div>
                                            </div>
                                        </form-panel>
                                    </div>
                                    <div class="button-bar col-md-12">
                                        <button type="button" class="btn btn-lg btn-warning" ng-click="vm.cancel()" tabindex="11"><i class="fa fa-minus"></i> Cancel</button>
                                        <button type="submit" class="btn btn-lg btn-primary" ng-click="vm.optionsSettingsSave(tab.formname)" tabindex="12"><i class="fa fa-save"></i> Save</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                </div>
            </uib-tab>
        </uib-tabset>
    </div>
</form-panel>