﻿<div class="row">
    <div class="col-md-6">
        <h3>Manage Mobile Settings {{vm.recordCountDescription()}}</h3>
    </div>
    <div class="col-md-5 pull-right">
        <div class="button-bar">
            <button type="button" class="btn btn-lg btn-primary" data-ng-click="vm.refreshData()" title="Refresh your data">
                <i class="fa fa-refresh"></i> Refresh
            </button>

        </div>
    </div>
</div>

<form-panel>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group right-inner-addon">
                <input type="search" class="search-bar" placeholder="search by client name and site name..."
                       data-ng-model="vm.dataOperations.search" data-ng-change="vm.searchBy(vm.dataOperations.search)">
            </div>
        </div>
    </div>
</form-panel>

<form-panel ng-if="vm.pagedData.length <= 0">
    <div class="row">
        <div class="col-md-12">
            <h4>
                No Access Client.  <a href="accessclient/0">Please click here</a> to add new Access Client
            </h4>
        </div>
    </div>
</form-panel>

<div class="row">
    <div class="col-md-12">
        <div>
            <div class="panel-body panel-body-table">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped table-actions" ng-if="vm.pagedData.length > 0">
                        <thead>
                        <tr>
                            <th>
                                <a href="" ng-click="vm.dataOperations.sortPredicate = 'id'; vm.dataOperations.sortOrder = !vm.dataOperations.sortOrder; vm.getData()">
                                  CSSPM ID
                                    <span ng-show="vm.dataOperations.sortPredicate == 'id' && !vm.dataOperations.sortOrder" class="fa fa-caret-down"></span>
                                    <span ng-show="vm.dataOperations.sortPredicate == 'id' && vm.dataOperations.sortOrder" class="fa fa-caret-up"></span>
                                </a>
                            </th>
                            <th>
                                <a href="" ng-click="vm.dataOperations.sortPredicate = 'clientname'; vm.dataOperations.sortOrder = !vm.dataOperations.sortOrder; vm.getData()">
                                    Client Name
                                    <span ng-show="vm.dataOperations.sortPredicate == 'clientname' && !vm.dataOperations.sortOrder" class="fa fa-caret-down"></span>
                                    <span ng-show="vm.dataOperations.sortPredicate == 'clientname' && vm.dataOperations.sortOrder" class="fa fa-caret-up"></span>
                                </a>
                            </th>
                            <th>
                                <a href="" ng-click="vm.dataOperations.sortPredicate = 'siteName'; vm.dataOperations.sortOrder = !vm.dataOperations.sortOrder; vm.getData()">
                                    Site Name
                                    <span ng-show="vm.dataOperations.sortPredicate == 'siteName' && !vm.dataOperations.sortOrder" class="fa fa-caret-down"></span>
                                    <span ng-show="vm.dataOperations.sortPredicate == 'siteName' && vm.dataOperations.sortOrder" class="fa fa-caret-up"></span>
                                </a>
                            </th>
                            <th>
                                <a href="" ng-click="vm.dataOperations.sortPredicate = 'stationName'; vm.dataOperations.sortOrder = !vm.dataOperations.sortOrder; vm.getData()">
                                    Station Name
                                    <span ng-show="vm.dataOperations.sortPredicate == 'stationName' && !vm.dataOperations.sortOrder" class="fa fa-caret-down"></span>
                                    <span ng-show="vm.dataOperations.sortPredicate == 'stationName' && vm.dataOperations.sortOrder" class="fa fa-caret-up"></span>
                                </a>
                            </th>
                            <th>
                                <a href="" ng-click="vm.dataOperations.sortPredicate = 'mobileName'; vm.dataOperations.sortOrder = !vm.dataOperations.sortOrder; vm.getData()">
                                    Mobile Name
                                    <span ng-show="vm.dataOperations.sortPredicate == 'mobileName' && !vm.dataOperations.sortOrder" class="fa fa-caret-down"></span>
                                    <span ng-show="vm.dataOperations.sortPredicate == 'mobileName' && vm.dataOperations.sortOrder" class="fa fa-caret-up"></span>
                                </a>
                            </th>
                            <th>
                                Manage mobile files
                            </th>
                            <th>
                                Download mobile files
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr data-ng-repeat="o in vm.pagedData">
                            <td>
                                {{o.id}}
                            </td>
                            <td>
                                {{o.clientName}}
                            </td>
                            <td>
                                {{o.siteName}}
                            </td>
                            <td>
                                {{o.stationName}}
                            </td>
                            <td>
                                {{o.mobileName}}
                            </td>
                            <td>
                                <div class="btn-group btn-group-sm">
                                    <button type="button" class="btn btn-lg btn-primary" title="Manage mobile files" ng-click="vm.manageMobileSetting(o.id)">
                                        <i class="fa fa-pencil-square-o"></i> Manage mobile files
                                    </button>
                                </div>
                            </td>
                            <td>
                                <div class="btn-group btn-group-sm">
                                    <button type="button" class="btn btn-lg btn-danger" title="Download mobile settings"
                                            ng-click="vm.downloadMobileFiles(o)" ng-show="o.isDownloadMobileFile"><!--ng-show="o.isDownloadMobileFile"-->
                                        <i class="fa fa-download"></i> Download
                                    </button>
                                    <span ng-show="!o.isDownloadMobileFile">No Settings</span>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div ng-if="vm.pagedData.length > 0">
    <div class="pagination">
        <ul uib-pagination boundry-links="true"
            ng-change="vm.getData()"
            total-items="vm.filteredCount"
            items-per-page="vm.dataOperations.paging.pageSize"
            ng-model="vm.dataOperations.paging.currentPage"
            max-size="vm.dataOperations.paging.maxPagesToShow"
            class="pagination-small"></ul>
        <p class="pull-right padding-bottom-20">{{vm.currentPageDescription()}}</p>
    </div>
</div>