﻿<form class="form-horizontal" name="frm" novalidate>
    <form-panel panel-heading="Manage Form Flow">
        <div class="form-group col-md-12" show-errors>
            <label class="col-md-2">
                Client
                <span class="help-block" ng-if="frm.ddlClient.$error.required">(required)</span>
            </label>

            <div class="col-md-10">
                <select class="form-control"
                        chosen
                        no-results-text="'Could not find Client'"
                        placeholder-text-single="'Please select a Client'"
                        search-contains="true"
                        allow-single-deselect="true"
                        name="ddlClient"
                        ng-change="vm.onClientChange()"
                        ng-model="vm.manageFormFlow.clientId"
                        ng-options="item.key as item.value for item in vm.allClients" required>
                    <option value=""></option>
                </select>
            </div>
        </div>

        <div class="form-group col-md-12" show-errors>
            <label class="col-md-2">
                Site
                <span class="help-block" ng-if="frm.ddlSite.$error.required">(required)</span>
            </label>

            <div class="col-md-10">
                <select class="form-control"
                        chosen
                        no-results-text="'Could not find site'"
                        placeholder-text-single="'Please select a Site'"
                        search-contains="true"
                        allow-single-deselect="true"
                        name="ddlSite"
                        ng-change="vm.onSiteChange()"
                        ng-model="vm.manageFormFlow.siteId"
                        ng-options="item.key as item.value for item in vm.allSites" required>
                    <option value=""></option>
                </select>
            </div>
        </div>

        <div class="form-group col-md-12" show-errors>
            <label class="col-md-2">
                Station
                <span class="help-block" ng-if="frm.ddlStation.$error.required">(required)</span>
            </label>

            <div class="col-md-10">
                <select class="form-control"
                        chosen
                        no-results-text="'Could not find station'"
                        placeholder-text-single="'Please select a Station'"
                        search-contains="true"
                        allow-single-deselect="true"
                        name="ddlStation"
                        ng-change="vm.onStationChange()"
                        ng-model="vm.manageFormFlow.stationId"
                        ng-options="item.key as item.value for item in vm.allStations" required>
                    <option value=""></option>
                </select>
            </div>
        </div>

        <div class="form-group col-md-12" show-errors>
            <label class="col-md-2">
                Product
                <span class="help-block" ng-if="frm.ddlProduct.$error.required">(required)</span>
            </label>

            <div class="col-md-10">
                <select class="form-control"
                        chosen
                        no-results-text="'Could not find product'"
                        placeholder-text-single="'Please select a Product'"
                        search-contains="true"
                        allow-single-deselect="true"
                        name="ddlProduct"
                        ng-change="vm.onProductChange()"
                        ng-model="vm.manageFormFlow.productId"
                        ng-options="item.key as item.value for item in vm.allProducts" required>
                    <option value=""></option>
                </select>
            </div>
        </div>

        <div class="form-group col-md-12" show-errors>
            <label class="col-md-2">
                Mobile
                <span class="help-block" ng-if="frm.ddlMobile.$error.required">(required)</span>
            </label>

            <div class="col-md-10">
                <select class="form-control"
                        chosen
                        no-results-text="'Could not find mobile'"
                        placeholder-text-single="'Please select a Mobile'"
                        search-contains="true"
                        allow-single-deselect="true"
                        name="ddlMobile"
                        ng-model="vm.manageFormFlow.mobileId"
                        ng-options="item.key as item.value for item in vm.allMobiles"
                        ng-change="vm.onMobileChange()" required>
                    <option value=""></option>
                </select>
            </div>
        </div>

        <div class="form-group col-md-12" show-errors>
            <label class="col-md-2">
                Transaction Type
                <span class="help-block" ng-if="frm.ddlTransactionType.$error.required">(required)</span>
            </label>

            <div class="col-md-10">
                <select class="form-control"
                        chosen
                        no-results-text="'Could not find Transaction Type'"
                        placeholder-text-single="'Please select a Transaction Type'"
                        search-contains="true"
                        allow-single-deselect="true"
                        name="ddlTransactionType"
                        ng-model="vm.manageFormFlow.transactionTypeId"
                        ng-options="item.key as item.value for item in vm.allTransactionTypes"
                        ng-change="vm.onTransactionTypeChange()" required>
                    <option value=""></option>
                </select>
            </div>
        </div>

        <div class="form-group col-md-12" show-errors>
            <label class="col-md-2">
                Vehicle Type
                <span class="help-block" ng-if="frm.ddlVehicleType.$error.required">(required)</span>
            </label>

            <div class="col-md-10">
                <select class="form-control"
                        chosen
                        no-results-text="'Could not find Vehicle Type'"
                        placeholder-text-single="'Please select a Vehicle Type'"
                        search-contains="true"
                        allow-single-deselect="true"
                        name="ddlVehicleType"
                        ng-model="vm.manageFormFlow.vehicleTypeId"
                        ng-options="item.key as item.value for item in vm.allVehicleTypes"
                        ng-change="vm.onVehicleTypeChange(frm)" required>
                    <option value=""></option>
                </select>
            </div>
        </div>
        <div class="alert alert-warning" ng-hide="vm.formList[0].items.length === 0">
            <strong>Instructions:</strong>
            Click on items to select/unselect them. When dragging, selected items will be moved Allocated forms. For dragging Up / Down, Use the buttons in the right.
        </div>

        <div class="multiDemo row" ng-hide="vm.formList[0].items.length === 0">
            <div class="col-md-10">
                <div class="row">
                    <div ng-repeat="list in vm.formList" class="col-md-6">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <h3 class="panel-title">{{list.listName}}</h3>
                            </div>
                            <div class="panel-body fixed-panel">
                                <ul dnd-list dnd-drop="vm.onDrop(list, item, index)">
                                    <li ng-repeat="item in list.items"
                                        dnd-draggable="vm.getSelectedItemsIncluding(list, item)"
                                        dnd-dragstart="vm.onDragstart(list, event)"
                                        dnd-moved="vm.onMoved(list)"
                                        dnd-dragend="list.dragging = false"
                                        dnd-selected="vm.onSelectionChangeItem(list, item)"
                                        ng-class="{'selected': item.selected}">
                                        {{item.value}}
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="row col-md-8">
                    <button type="button" class="btn btn-lg btn-primary btnVerticalAlignCenter" ng-click="vm.onFormMoveUp()" ng-disabled="vm.manageFormFlow.formName === null || vm.manageFormFlow.formName === 'SummaryControl'">
                        <i class="fa fa-level-up"></i> Move Up
                    </button>

                    <button type="button" class="btn btn-lg btn-primary" ng-click="vm.onFormMoveDown()" ng-disabled="vm.manageFormFlow.formName === null || vm.manageFormFlow.formName === 'SummaryControl'">
                        <i class="fa fa-level-down"></i> Move Down
                    </button>
                </div>
                <div class="col-md-4">
                </div>
            </div>
        </div>
    </form-panel>
</form>
