﻿<ul dnd-list dnd-drop="vm.onDrop(list, item, index)">
    <li ng-repeat="item in list.items"
        dnd-draggable="vm.getSelectedItemsIncluding(list, item)"
        dnd-dragstart="vm.onDragstart(list, event)"
        dnd-moved="vm.onMoved(list)"
        dnd-dragend="list.dragging = false"
        dnd-selected="item.selected = !item.selected"
        ng-class="{'selected': item.selected}"
        ng-hide="list.dragging && item.selected">
        {{item.label}}
    </li>
</ul>