﻿<div class="row">
    <div class="col-md-6">
        <h3>View Ticket {{vm.recordCountDescription()}}</h3>
    </div>
</div>

<form class="form-horizontal" name="frm" method="post" novalidate>
    <form-panel panel-heading="">
        <div class="form-group" show-errors>
            <label class="col-md-2">
                Client Name
                <span class="help-block" ng-if="frm.clientid.$error.required">(required)</span>
            </label>
            <div class="col-md-10">
                <!--<select chosen
                        class="form-control"
                        name="clientid"
                        allow-single-deselect="true"
                        data-placeholder-text-single="'Please select a Client'"
                        no-results-text="'Could not find client'"
                        ng-model="vm.selectedClient"
                        ng-options="item.key as item.value for item in vm.allClients" required>
                    <option value="Please select a Client"></option>
                </select>-->

                <select class="form-control"
                        chosen
                        no-results-text="'Could not find Client'"
                        placeholder-text-single="'Please select a Client'"
                        search-contains="true"
                        allow-single-deselect="true"
                        name="clientid"
                        ng-model="vm.selectedClient"
                        ng-options="item.key as item.value for item in vm.allClients" required>
                    <option value=""></option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 check">
                Reference Number <input type="radio" class="iradio_minimal-grey" ng-init="vm.searchValue=1" name="searchValue" ng-value="1" ng-model="vm.searchValue">
            </label>

            <div class="col-md-10">
                <input type="text" ng-model="vm.referenceNumber" class="form-control"
                       placeholder="Enter Reference Number" ng-disabled="vm.searchValue!=1" />
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 check"> Car Reg <input type="radio" class="iradio_minimal-grey" name="searchValue" ng-value="2" ng-model="vm.searchValue"> </label>
            <div class="col-md-10">
                <input type="text" ng-model="vm.carReg" class="form-control"
                       placeholder="Enter Car Reg" ng-disabled="vm.searchValue!=2" />
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 check">RA Number <input type="radio" class="iradio_minimal-grey" name="searchValue" ng-value="3" ng-model="vm.searchValue"> </label>
            <div class="col-md-10">
                <input type="text" ng-model="vm.raNumber" class="form-control"
                       placeholder="Enter RA Number" ng-disabled="vm.searchValue!=3" />
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2"> </label>
            <div class="col-md-10">
                <button type="button" class="btn btn-lg btn-cancom" ng-click="vm.getData(true)" title="Search your data">
                    <i class="fa fa-search"></i> Search
                </button>
            </div>
        </div>

    </form-panel>

    <form-panel>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group right-inner-addon">
                    <input type="search" class="search-bar" placeholder="search by notice no, ra number, car reg, region, metro status, status and view fine..."
                           data-ng-model="vm.dataOperations.search" data-ng-change="vm.searchBy(vm.dataOperations.search)">
                </div>

            </div>
        </div>
    </form-panel>

    <div class="row">
        <div class="col-md-12">
            <div class="panel-body panel-body-table">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped table-actions" ng-if="vm.pagedData.length > 0">
                        <thead>
                            <tr>
                                <th>
                                    <a href="" ng-click="vm.dataOperations.sortPredicate = 'noticeno'; vm.dataOperations.sortOrder = !vm.dataOperations.sortOrder; vm.getData()">
                                        Notice No
                                        <span ng-show="vm.dataOperations.sortPredicate == 'noticeno' && !vm.dataOperations.sortOrder" class="fa fa-caret-down"></span>
                                        <span ng-show="vm.dataOperations.sortPredicate == 'noticeno' && vm.dataOperations.sortOrder" class="fa fa-caret-up"></span>
                                    </a>
                                </th>
                                <th>
                                    <a href="" ng-click="vm.dataOperations.sortPredicate = 'ranumber'; vm.dataOperations.sortOrder = !vm.dataOperations.sortOrder; vm.getData()">
                                        RA Number
                                        <span ng-show="vm.dataOperations.sortPredicate == 'ranumber' && !vm.dataOperations.sortOrder" class="fa fa-caret-down"></span>
                                        <span ng-show="vm.dataOperations.sortPredicate == 'ranumber' && vm.dataOperations.sortOrder" class="fa fa-caret-up"></span>
                                    </a>
                                </th>
                                <th>
                                    <a href="" ng-click="vm.dataOperations.sortPredicate = 'carreg'; vm.dataOperations.sortOrder = !vm.dataOperations.sortOrder; vm.getData()">
                                        Car Reg
                                        <span ng-show="vm.dataOperations.sortPredicate == 'carreg' && !vm.dataOperations.sortOrder" class="fa fa-caret-down"></span>
                                        <span ng-show="vm.dataOperations.sortPredicate == 'carreg' && vm.dataOperations.sortOrder" class="fa fa-caret-up"></span>
                                    </a>
                                </th>
                                <th>
                                    <a href="" ng-click="vm.dataOperations.sortPredicate = 'region'; vm.dataOperations.sortOrder = !vm.dataOperations.sortOrder; vm.getData()">
                                        Region
                                        <span ng-show="vm.dataOperations.sortPredicate == 'region' && !vm.dataOperations.sortOrder" class="fa fa-caret-down"></span>
                                        <span ng-show="vm.dataOperations.sortPredicate == 'region' && vm.dataOperations.sortOrder" class="fa fa-caret-up"></span>
                                    </a>
                                </th>
                                <th>
                                    <a href="" ng-click="vm.dataOperations.sortPredicate = 'formattedDate'; vm.dataOperations.sortOrder = !vm.dataOperations.sortOrder; vm.getData()">
                                        Offence Date
                                        <span ng-show="vm.dataOperations.sortPredicate == 'formattedDate' && !vm.dataOperations.sortOrder" class="fa fa-caret-down"></span>
                                        <span ng-show="vm.dataOperations.sortPredicate == 'formattedDate' && vm.dataOperations.sortOrder" class="fa fa-caret-up"></span>
                                    </a>
                                </th>
                                <th>
                                    <a href="" ng-click="vm.dataOperations.sortPredicate = 'metrostatus'; vm.dataOperations.sortOrder = !vm.dataOperations.sortOrder; vm.getData()">
                                        Metro Status
                                        <span ng-show="vm.dataOperations.sortPredicate == 'metrostatus' && !vm.dataOperations.sortOrder" class="fa fa-caret-down"></span>
                                        <span ng-show="vm.dataOperations.sortPredicate == 'metrostatus' && vm.dataOperations.sortOrder" class="fa fa-caret-up"></span>
                                    </a>
                                </th>
                                <th>
                                    <a href="" ng-click="vm.dataOperations.sortPredicate = 'status'; vm.dataOperations.sortOrder = !vm.dataOperations.sortOrder; vm.getData()">
                                        Status
                                        <span ng-show="vm.dataOperations.sortPredicate == 'status' && !vm.dataOperations.sortOrder" class="fa fa-caret-down"></span>
                                        <span ng-show="vm.dataOperations.sortPredicate == 'status' && vm.dataOperations.sortOrder" class="fa fa-caret-up"></span>
                                    </a>
                                </th>
                                <!--<th>
                                    <a href="" ng-click="vm.dataOperations.sortPredicate = 'image'; vm.dataOperations.sortOrder = !vm.dataOperations.sortOrder; vm.getData()">
                                        Image
                                        <span ng-show="vm.dataOperations.sortPredicate == 'image' && !vm.dataOperations.sortOrder" class="fa fa-caret-down"></span>
                                        <span ng-show="vm.dataOperations.sortPredicate == 'image' && vm.dataOperations.sortOrder" class="fa fa-caret-up"></span>
                                    </a>

                                </th>-->
                                <!--<th>
                                    <a href="" ng-click="vm.dataOperations.sortPredicate = 'viewfine'; vm.dataOperations.sortOrder = !vm.dataOperations.sortOrder; vm.getData()">
                                        View Fine
                                        <span ng-show="vm.dataOperations.sortPredicate == 'viewfine' && !vm.dataOperations.sortOrder" class="fa fa-caret-down"></span>
                                        <span ng-show="vm.dataOperations.sortPredicate == 'viewfine' && vm.dataOperations.sortOrder" class="fa fa-caret-up"></span>
                                    </a>

                                </th>-->
                            </tr>
                        </thead>
                        <tbody>
                            <tr data-ng-repeat="o in vm.pagedData">
                                <td>{{o.noticeNo}}</td>
                                <td>{{o.raNumber}}</td>
                                <td>{{o.carReg}}</td>
                                <td>{{o.region}}</td>
                                <td>{{o.formattedDate|date:'dd-MM-yyyy'}} <small>{{o.formattedDate|date:'HH:mm:ss'}}</small></td>
                                <td>{{o.metroStatus}}</td>
                                <td>{{o.status}}</td>
                                <!--
                                <td>{{o.image}}</td>-->
                                <!--<td>{
                                {o.viewFine}}</td>-->
                            </tr>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div ng-if="vm.pagedData.length > 0">
        <div class="pagination">
            <ul uib-pagination boundry-links="true"
                ng-change="vm.getData()"
                total-items="vm.filteredCount"
                items-per-page="vm.dataOperations.paging.pageSize"
                ng-model="vm.dataOperations.paging.currentPage"
                max-size="vm.dataOperations.paging.maxPagesToShow"
                class="pagination-small"></ul>
            <p class="pull-right padding-bottom-20">{{vm.currentPageDescription()}}</p>
        </div>
    </div>
</form>


