<section id="dashboard-view">
    <div class="bs-callout bs-callout-warning">
        <div class="alert alert-warning">
            <p>
                <h4><i class="fa fa-exclamation-triangle"></i> Page Not Found</h4>
            </p>
            <p>Sorry, the page you're trying to navigate to <b>'{{vm.currentLocation}}'</b> does not exist</p>            
        </div>
    </div>
</section>
