﻿<form class="form-horizontal" name="frm" novalidate>
    <form-panel panel-heading="Transaction Type Details">
        <div class="form-group" show-errors ng-hide="vm.transactionType.id > 0">
            <label class="col-md-2">
                Client
                <span class="help-block" ng-if="frm.ddlClient.$error.required">(required)</span>
            </label>

            <div class="col-md-10">
                <select class="form-control"
                        chosen
                        no-results-text="'Could not find Client'"
                        placeholder-text-single="'Please select a Client'"
                        search-contains="true"
                        allow-single-deselect="true"
                        name="ddlClient"
                        ng-change="vm.onClientChange()"
                        ng-model="vm.transactionType.clientId"
                        ng-options="s.key as s.value for s in vm.allClients" required>
                    <option value=""></option>
                </select>
            </div>
        </div>

        <div class="form-group" ng-show="vm.transactionType.id > 0">
            <label class="col-md-2">
                Site
            </label>
            <label class="col-md-10">{{vm.transactionType.siteName}}</label>
        </div>

        <div class="form-group" show-errors ng-hide="vm.transactionType.id > 0">
            <label class="col-md-2">
                Site
                <span class="help-block" ng-if="frm.ddlSite.$error.required">(required)</span>
            </label>

            <div class="col-md-10">
                <select class="form-control"
                        chosen
                        no-results-text="'Could not find site'"
                        placeholder-text-single="'Please select a Site'"
                        search-contains="true"
                        allow-single-deselect="true"
                        name="ddlSite"
                        ng-change="vm.onSiteChange()"
                        ng-model="vm.transactionType.siteId"
                        ng-options="s.key as s.value for s in vm.allSites" required>
                    <option value=""></option>
                </select>
            </div>
        </div>

        <div class="form-group" show-errors ng-hide="vm.transactionType.id > 0">
            <label class="col-md-2">
                Station
                <span class="help-block" ng-if="frm.ddlStation.$error.required">(required)</span>
            </label>

            <div class="col-md-10">
                <select class="form-control"
                        chosen
                        no-results-text="'Could not find station'"
                        placeholder-text-single="'Please select a Station'"
                        search-contains="true"
                        allow-single-deselect="true"
                        name="ddlStation"
                        ng-change="vm.onStationChange()"
                        ng-model="vm.transactionType.stationId"
                        ng-options="item.key as item.value for item in vm.allStations" required>
                    <option value=""></option>
                </select>
            </div>
        </div>

        <div class="form-group" show-errors ng-hide="vm.transactionType.id > 0">
            <label class="col-md-2">
                Product
                <span class="help-block" ng-if="frm.ddlProduct.$error.required">(required)</span>
            </label>

            <div class="col-md-10">
                <select class="form-control"
                        chosen
                        no-results-text="'Could not find product'"
                        placeholder-text-single="'Please select a Product'"
                        search-contains="true"
                        allow-single-deselect="true"
                        name="ddlProduct"
                        ng-change="vm.onProductChange()"
                        ng-model="vm.transactionType.productId"
                        ng-options="item.key as item.value for item in vm.allProducts" required>
                    <option value=""></option>
                </select>
            </div>
        </div>

        <div class="form-group" show-errors ng-hide="vm.transactionType.id > 0">
            <label class="col-md-2">
                Mobile
                <span class="help-block" ng-if="frm.ddlMobile.$error.required">(required)</span>
            </label>

            <div class="col-md-10">
                <select class="form-control"
                        chosen
                        no-results-text="'Could not find mobile'"
                        placeholder-text-single="'Please select a Mobile'"
                        search-contains="true"
                        allow-single-deselect="true"
                        name="ddlMobile"
                        ng-model="vm.transactionType.mobileId"
                        ng-options="item.key as item.value for item in vm.allMobiles" required>
                    <option value=""></option>
                </select>
            </div>
        </div>

        <div class="form-group" show-errors>
            <label class="col-md-2">
                Description
                <span class="help-block" ng-if="frm.description.$error.required">(required)</span>
            </label>
            <div class="col-md-10">
                <textarea class="form-control" rows="5" ng-model="vm.transactionType.description" name="description"
                          placeholder="Enter Description" required></textarea>
            </div>
        </div>

    </form-panel>
    <div class="button-bar">
        <validation-Message></validation-Message>
        <button type="button" class="btn btn-lg btn-warning" ng-click="vm.cancel()" tabindex="11"><i class="fa fa-minus"></i> Cancel</button>
        <button type="submit" class="btn btn-lg btn-primary" ng-click="vm.save(vm.transactionType,frm)" tabindex="12"><i class="fa fa-save"></i> Save</button>
    </div>
</form>
