<section id="login-view" class="center-block">
    <div class="login-container">
        <div class="login-box animated fadeInDown">
            <div class="login-logo"></div>
            <div class="login-body">
                <div class="login-title">
                    <strong>Welcome</strong>, Please login
                </div>
                <form ng-submit="vm.login(vm.credentials, loginForm)" class="form-horizontal" name="loginForm" method="post" novalidate>
                    <div class="form-group" show-errors>
                        <div class="col-md-12">
                            <div class="input-group">
                                <span class="input-group-addon"><span class="fa fa-user"></span></span>
                                <input type="text" data-ng-model="vm.credentials.username" class="form-control" name="username"
                                       placeholder="Username" required />
                            </div>
                        </div>
                        <div class="col-md-2">
                            <span class="help-block" ng-if="loginForm.username.$error.required">(required)</span>
                        </div>
                    </div>
                    <div class="form-group" show-errors>
                        <div class="col-md-12">
                            <div class="input-group">
                                <span class="input-group-addon"><span class="fa fa-unlock-alt"></span></span>
                                <input type="password" data-ng-model="vm.credentials.password" name="password"
                                       class="form-control" placeholder="Password" required />
                            </div>

                        </div>
                        <div class="col-md-2">
                            <span class="help-block" ng-if="loginForm.password.$error.required">(required)</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <!--<a href="#" class="btn btn-link btn-block">Forgot your password?</a>-->
                        </div>
                        <div class="col-md-6">
                            <button type="submit" class="btn btn-info btn-block">Log In</button>
                        </div>
                        <div class="col-md-3">
                        </div>
                    </div>
                </form>
                <global-error-feedback></global-error-feedback>
            </div>
            <div class="login-footer">
                <div class="pull-left">
                    &copy; COPYRIGHT <a href="http://www.cancomsa.co.za" target="_blank">Cancom</a>
                </div>
            </div>
        </div>
    </div>
</section>
