﻿<div data-ng-controller="shellController as vm">
    <div ng-class="vm.isOnLoginScreen() ? 'body-login' : 'page-container page-navigation-top-fixed'">
        <!-- START PAGE SIDEBAR -->
        <div class="page-sidebar scroll" ng-show="!vm.isOnLoginScreen()">
            <!-- START X-NAVIGATION -->
            <ul class="x-navigation">
                <li class="xn-logo">
                    <!--<a ui-sref="dashboard" style="line-height: 90%; margin-bottom: 10%;">Cancom Management Portal</a>
                    <a href="#" class="x-navigation-control"></a>-->
                </li>

                <li class="xn-profile">
                    <div class="profile">
                        <div class="profile-image">
                            <a ui-sref="dashboard">
                                <img src="../../images/profile_logo.png" alt="" />
                            </a>
                        </div>
                        <label class="cancom-heading">Cancom Management Portal</label>
                    </div>
                </li>
                <li>
                    <a ui-sref="dashboard.finemanagement"><span class="fa fa-tasks"></span> <span class="xn-text">Fine Management</span></a>
                </li>
                <li class="xn-openable">
                    <a class="cursorHand"><span class="fa fa-cogs cursorHand"></span> <span class="xn-text">IdTech Access</span></a>
                    <ul>
                        <li><a ui-sref="dashboard.accessclient"><span class="fa fa-legal"></span>Access Client</a> </li>
                        <li><a ui-sref="dashboard.accessv2transaction"><span class="fa fa-database"></span> AccessV2 Transactions</a></li>
                        <li><a ui-sref="dashboard.cssm"><span class="fa fa-sitemap"></span> CSSM</a></li>
                        <li><a ui-sref="dashboard.manageformflow"><span class="fa fa-sort-amount-asc"></span> Manage Form Flow</a></li>
                        <li><a ui-sref="dashboard.managemobilesettings"><span class="fa fa-mobile"></span> Manage Mobile Settings</a></li>
                        <li><a ui-sref="dashboard.transactiontype"><span class="fa fa-sort-alpha-desc"></span> Transaction Type</a></li>
                        <li><a ui-sref="dashboard.vehicletype"><span class="fa fa-car"></span> Vehicle Type</a></li>
                        <li><a ui-sref="dashboard.uploadidtechaccesssoftware"><span class="fa fa-product-hunt"></span> IdTech Access Software</a></li>
                    </ul>
                </li>
                <li>
                    <a ui-sref="dashboard.uploadloanform"><span class="fa fa-upload"></span> <span class="xn-text">Upload Loan Form</span></a>
                    <a ui-sref="dashboard.useraccesspermission"><span class="fa fa-unlock-alt"></span> <span class="xn-text">User Access permission</span></a>
                    <a ui-sref="dashboard.viewticket"><span class="fa fa-ticket"></span> <span class="xn-text">View Tickets</span></a>
                    <a ui-sref="dashboard.webclient"><span class="fa fa-user"></span> <span class="xn-text">Web Client</span></a>
                </li>
            </ul>
            <!-- END X-NAVIGATION -->
        </div>
        <!-- END PAGE SIDEBAR -->
        <!-- PAGE CONTENT -->
        <div class="page-content">
            <div ng-show="!vm.isOnLoginScreen()">
                <!-- START X-NAVIGATION VERTICAL -->
                <ul class="x-navigation x-navigation-horizontal x-navigation-panel">

                    <!-- TOGGLE NAVIGATION -->
                    <li>
                        <a class="x-navigation-minimize"><span class="fa fa-dedent"></span></a>
                    </li>
                    <!-- END TOGGLE NAVIGATION -->
                    <!-- SIGN OUT -->
                    <li class="xn-icon-button pull-right">
                        <button type="button" class="btn btn-lg btn-logout" ng-click="vm.logout()" title="Logout">
                            <i class="fa fa-sign-out"></i> Logout
                        </button>
                    </li>
                    <!-- END SIGN OUT -->
                </ul>
                <!-- END X-NAVIGATION VERTICAL -->
                <!-- START BREADCRUMB -->
                <div class="breadcrumb push-down-0">
                    <div ncy-breadcrumb></div>
                </div>
                <!-- END BREADCRUMB -->
            </div>
            <!-- START CONTENT FRAME -->
            <div class="content-frame page-content-wrap shellResponsive">
                <div class="container-fluid grid-container">
                    <div ui-view class="shuffle-animation"></div>
                    <div ngplus-overlay
                         ngplus-overlay-delay-in="10"
                         ngplus-overlay-delay-out="10"
                         ngplus-overlay-animation="dissolve-animation">
                        <div class="spinner"></div>
                    </div>
                </div>
            </div>
            <!-- END CONTENT FRAME -->
            <!--sticky footer -->
            <footer class="footer" ng-class="vm.isOnLoginScreen() ? 'footer-login' : ''">
                <div class="container">
                    <p>
                        &copy; COPYRIGHT <a href="http://www.cancomsa.co.za" target="_blank">Cancom</a> &trade; 2017 | Version: {{vm.version}}&nbsp;
                        <span data-ng-show="vm.showEnvDetails">
                            Environment: {{vm.environment}}, API endpoint: {{vm.endpoint}}
                        </span>
                    </p>
                </div>
            </footer>
        </div>
        <!-- END PAGE CONTENT -->
    </div>
    <!-- END PAGE CONTAINER -->
</div>