﻿<form class="form-horizontal" name="frm" novalidate>
    <form-panel panel-heading="Access V2 Transactions">
        <div class="form-group" show-errors>
            <label class="col-md-2">
                Client Name
                <span class="help-block" ng-if="frm.ddlClient.$error.required">(required)</span>
            </label>
            <div class="col-md-10">
                <select class="form-control"
                        chosen
                        no-results-text="'Could not find Client'"
                        placeholder-text-single="'Please select a Client'"
                        search-contains="true"
                        allow-single-deselect="true"
                        name="ddlClient"
                        ng-model="vm.accessV2Transaction.clientId"
                        ng-options="item.key as item.value for item in vm.allClients" required>
                    <option value=""></option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 check">
                Driver Id <input type="radio" class="iradio_minimal-grey" ng-init="vm.searchValue=1" name="searchValue" ng-value="1" ng-model="vm.searchValue"
                                 ng-change="vm.accessV2Transaction.surname = '';vm.accessV2Transaction.vehicleRegistration = ''">
            </label>

            <div class="col-md-10">
                <input type="text" ng-model="vm.accessV2Transaction.driverId" class="form-control"
                       placeholder="Enter Driver Id" ng-disabled="vm.searchValue!=1" />
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 check">
                Surname <input type="radio" class="iradio_minimal-grey" name="searchValue" ng-value="2" ng-model="vm.searchValue"
                               ng-change="vm.accessV2Transaction.driverId = '';vm.accessV2Transaction.vehicleRegistration = ''">
            </label>
            <div class="col-md-10">
                <input type="text" ng-model="vm.accessV2Transaction.surname" class="form-control"
                       placeholder="Enter Surname" ng-disabled="vm.searchValue!=2" />
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 check">
                Vehicle Reg <input type="radio" class="iradio_minimal-grey" name="searchValue" ng-value="3" ng-model="vm.searchValue"
                                   ng-change="vm.accessV2Transaction.surname = '';vm.accessV2Transaction.driverId = ''">
            </label>
            <div class="col-md-10">
                <input type="text" ng-model="vm.accessV2Transaction.vehicleRegistration" class="form-control"
                       placeholder="Enter Vehicle Registration " ng-disabled="vm.searchValue!=3" />
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2">Search by date</label>
            <div class="col-md-5">
                <label class="switch switch-small">
                    <input type="checkbox" ng-init="vm.isDateSearch = false" ng-model="vm.isDateSearch" />
                    <span></span>
                </label>

            </div>
        </div>

        <div class="form-group" show-errors ng-show="vm.isDateSearch">
            <label class="col-md-2">
                From Date
                <span class="help-block" ng-if="frm.fromdate.$error.required">(required)</span>
            </label>
            <div class="col-md-3">
                <formdatepicker ng-model="vm.accessV2Transaction.fromDate" element-name="fromdate" name="fromdate" date-options="vm.dateOptions"
                                opened="vm.openedStart" is-disabled="false" is-required="vm.isDateSearch"></formdatepicker>
            </div>
        </div>

        <div class="form-group" show-errors ng-show="vm.isDateSearch">
            <label class="col-md-2">
                To Date
                <span class="help-block" ng-if="frm.todate.$error.required">(required)</span>
            </label>
            <div class="col-md-3">
                <formdatepicker name="todate" element-name="todate" ng-model="vm.accessV2Transaction.toDate" date-options="vm.dateOptions" opened="vm.openedEnd"
                                is-disabled="false" is-required="vm.isDateSearch"></formdatepicker>
            </div>
        </div>
        <div class="row form-group">
            <label class="col-md-2"> </label>
            <div class="col-md-10">
                <button type="button" class="btn btn-lg btn-cancom" title="Search your data" ng-click="vm.getData(true, frm)">
                    <i class="fa fa-search"></i> Search
                </button>
            </div>
        </div>
    </form-panel>

    <div class="button-bar" ng-show="false">
        <div excel-export export-data="vm.exportData" file-name="{{vm.fileName}}"></div>
    </div>

    <form-panel ng-if="vm.pagedData.length > 0">
        <div class="row">
            <div class="col-md-6">
                <h3>Transactions {{vm.recordCountDescription()}}</h3>
            </div>
        </div>
    </form-panel>

    <form-panel>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group right-inner-addon">
                    <input type="search" class="search-bar" placeholder="search by surname, driver id and registration no..."
                           data-ng-model="vm.dataOperations.search" data-ng-change="vm.searchBy(vm.dataOperations.search, frm)">
                </div>
            </div>
        </div>
    </form-panel>

    <div class="row">
        <div class="col-md-12">
            <div class="panel-body panel-body-table">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped table-actions" ng-if="vm.pagedData.length > 0">
                        <thead>
                            <tr>
                                <th>
                                    <a href="" ng-click="vm.dataOperations.sortPredicate = 'id'; vm.dataOperations.sortOrder = !vm.dataOperations.sortOrder; vm.getData()">
                                        Id
                                        <span ng-show="vm.dataOperations.sortPredicate == 'id' && !vm.dataOperations.sortOrder" class="fa fa-caret-down"></span>
                                        <span ng-show="vm.dataOperations.sortPredicate == 'id' && vm.dataOperations.sortOrder" class="fa fa-caret-up"></span>
                                    </a>
                                </th>
                                <th>
                                    <a href="" ng-click="vm.dataOperations.sortPredicate = 'name'; vm.dataOperations.sortOrder = !vm.dataOperations.sortOrder; vm.getData()">
                                        Name & Surname
                                        <span ng-show="vm.dataOperations.sortPredicate == 'name' && !vm.dataOperations.sortOrder" class="fa fa-caret-down"></span>
                                        <span ng-show="vm.dataOperations.sortPredicate == 'name' && vm.dataOperations.sortOrder" class="fa fa-caret-up"></span>
                                    </a>
                                </th>
                                <th>
                                    <a href="" ng-click="vm.dataOperations.sortPredicate = 'driverId'; vm.dataOperations.sortOrder = !vm.dataOperations.sortOrder; vm.getData()">
                                        Driver Id
                                        <span ng-show="vm.dataOperations.sortPredicate == 'driverId' && !vm.dataOperations.sortOrder" class="fa fa-caret-down"></span>
                                        <span ng-show="vm.dataOperations.sortPredicate == 'driverId' && vm.dataOperations.sortOrder" class="fa fa-caret-up"></span>
                                    </a>
                                </th>
                                <th>
                                    <a href="" ng-click="vm.dataOperations.sortPredicate = 'vehicleRegistration'; vm.dataOperations.sortOrder = !vm.dataOperations.sortOrder; vm.getData()">
                                        Registration No
                                        <span ng-show="vm.dataOperations.sortPredicate == 'vehicleRegistration' && !vm.dataOperations.sortOrder" class="fa fa-caret-down"></span>
                                        <span ng-show="vm.dataOperations.sortPredicate == 'vehicleRegistration' && vm.dataOperations.sortOrder" class="fa fa-caret-up"></span>
                                    </a>
                                </th>
                                <th>
                                    <a href="" ng-click="vm.dataOperations.sortPredicate = 'type'; vm.dataOperations.sortOrder = !vm.dataOperations.sortOrder; vm.getData()">
                                        Type
                                        <span ng-show="vm.dataOperations.sortPredicate == 'type' && !vm.dataOperations.sortOrder" class="fa fa-caret-down"></span>
                                        <span ng-show="vm.dataOperations.sortPredicate == 'type' && vm.dataOperations.sortOrder" class="fa fa-caret-up"></span>
                                    </a>
                                </th>
                                <th>
                                    <a href="" ng-click="vm.dataOperations.sortPredicate = 'site'; vm.dataOperations.sortOrder = !vm.dataOperations.sortOrder; vm.getData()">
                                        Site
                                        <span ng-show="vm.dataOperations.sortPredicate == 'site' && !vm.dataOperations.sortOrder" class="fa fa-caret-down"></span>
                                        <span ng-show="vm.dataOperations.sortPredicate == 'site' && vm.dataOperations.sortOrder" class="fa fa-caret-up"></span>
                                    </a>
                                </th>
                                <th>
                                    <a href="" ng-click="vm.dataOperations.sortPredicate = 'date'; vm.dataOperations.sortOrder = !vm.dataOperations.sortOrder; vm.getData()">
                                        Date
                                        <span ng-show="vm.dataOperations.sortPredicate == 'date' && !vm.dataOperations.sortOrder" class="fa fa-caret-down"></span>
                                        <span ng-show="vm.dataOperations.sortPredicate == 'date' && vm.dataOperations.sortOrder" class="fa fa-caret-up"></span>
                                    </a>
                                </th>
                                <th>
                                    View Additional
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr data-ng-repeat="o in vm.pagedData">
                                <td>{{o.id}}</td>
                                <td>{{o.name}}</td>
                                <td>{{o.driverId}}</td>
                                <td>{{o.registrationNo}}</td>
                                <td>{{o.type}}</td>
                                <td>{{o.site}}</td>
                                <td>
                                    {{o.date | date:'dd-MM-yyyy' }} <small> {{o.date | date:'HH:mm a'}} </small>
                                </td>
                                <td>
                                    <div class="btn-group btn-group-sm">
                                        <button type="submit" class="btn btn-lg btn-primary" title="View" ng-click="vm.accessV2TransactionView(o.id,o.registrationNo, o.driverId)">
                                            <i class="fa fa-eye"></i> View
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div ng-if="vm.pagedData.length > 0">
        <div class="pagination">
            <ul uib-pagination boundry-links="true"
                ng-change="vm.getData(false, frm)"
                total-items="vm.filteredCount"
                items-per-page="vm.dataOperations.paging.pageSize"
                ng-model="vm.dataOperations.paging.currentPage"
                max-size="vm.dataOperations.paging.maxPagesToShow"
                class="pagination-small"></ul>
            <p class="pull-right padding-bottom-20">{{vm.currentPageDescription()}}</p>
        </div>
    </div>
</form>
