﻿<div ng-class="{'danger': vm.includeDangerHeader}" class="modal-header clearfix">
    <h3 class="modal-title pull-left"><i class="fa fa-desktop"></i> {{vm.title}}</h3>
    <button type="button" class="close pull-right" ng-click="vm.cancel()">&times;</button>
</div>
<div class="modal-body">
    <form class="form-horizontal" name="frm" novalidate>
        <div class="row">
            <div class="col-md-9">
                <form-panel panel-heading="Drivers License">
                    <div class="form-group col-md-6">
                        <label class="col-md-5">
                            Driver Name
                        </label>

                        <div class="col-md-7">
                            {{vm.accessV2TransactionDetails.driverLicense.driverName}}
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="col-md-5">
                            Id Number
                        </label>

                        <div class="col-md-7">
                            {{vm.accessV2TransactionDetails.driverLicense.idNumber}}
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="col-md-5">
                            DOB
                        </label>

                        <div class="col-md-7">
                            {{vm.accessV2TransactionDetails.driverLicense.dob}}
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="col-md-5">
                            Gender
                        </label>

                        <div class="col-md-7">
                            {{vm.accessV2TransactionDetails.driverLicense.gender}}
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="col-md-5">
                            Certificate No
                        </label>

                        <div class="col-md-7">
                            {{vm.accessV2TransactionDetails.driverLicense.certificateNo}}
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="col-md-5">
                            Date valid Till
                        </label>

                        <div class="col-md-7">
                            {{vm.accessV2TransactionDetails.driverLicense.dateValidTill}}
                        </div>
                    </div>
                    <div class="form-group col-md-12">
                        <h4 class="col-md-4">
                            Transaction Status :
                        </h4>

                        <div class="col-md-3">
                            <h4 class="orangeHighlightedText">
                                {{vm.accessV2TransactionDetails.transactionStatus}}
                            </h4>
                        </div>
                    </div>
                </form-panel>
            </div>

            <div class="form-group col-md-3">
                <img src="{{vm.accessV2TransactionDetails.driverLicense.image}}" class="imagePreview" ng-show="vm.accessV2TransactionDetails.driverLicense.image != null" />
            </div>

            <div class="col-md-12">
                <form-panel panel-heading="Vehicle License">
                    <div class="form-group col-md-6">
                        <label class="col-md-5">
                            Registration No :
                        </label>

                        <div class="col-md-7">
                            {{vm.accessV2TransactionDetails.vehicleLicense.registrationNo}}
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="col-md-5">
                            Vehicle RegNo :
                        </label>

                        <div class="col-md-7">
                            {{vm.accessV2TransactionDetails.vehicleLicense.vehicleRegistrationNo}}
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="col-md-5">
                            Make :
                        </label>

                        <div class="col-md-7">
                            {{vm.accessV2TransactionDetails.vehicleLicense.make}}
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="col-md-5">
                            Model :
                        </label>

                        <div class="col-md-7">
                            {{vm.accessV2TransactionDetails.vehicleLicense.model}}
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="col-md-5">
                            Colour :
                        </label>

                        <div class="col-md-7">
                            {{vm.accessV2TransactionDetails.vehicleLicense.colour}}
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="col-md-5">
                            Expiry Date :
                        </label>

                        <div class="col-md-7">
                            {{vm.accessV2TransactionDetails.vehicleLicense.expiryDate}}
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="col-md-5">
                            Vin No :
                        </label>

                        <div class="col-md-7">
                            {{vm.accessV2TransactionDetails.vehicleLicense.vinNo}}
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="col-md-5">
                            Engine No :
                        </label>

                        <div class="col-md-7">
                            {{vm.accessV2TransactionDetails.vehicleLicense.engineNo}}
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="col-md-5">
                            License No :
                        </label>

                        <div class="col-md-7">
                            {{vm.accessV2TransactionDetails.vehicleLicense.licenseNo}}
                        </div>
                    </div>
                </form-panel>
            </div>

            <div class="col-md-12">
                <form-panel panel-heading="Additional Information">
                    <div class="panel-body panel-body-table">
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped table-actions" ng-if="vm.accessV2TransactionDetails.additionalInfo.length > 0">
                                <thead>
                                    <tr>
                                        <th>
                                            Info
                                        </th>
                                        <th>
                                            Value
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr data-ng-repeat="o in vm.accessV2TransactionDetails.additionalInfo">
                                        <td>{{o.type}}</td>
                                        <td>{{o.value}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </form-panel>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <div class="button-bar button-bar-modal">
        <button type="button" class="btn btn-lg btn-warning" ng-click="vm.cancel()" tabindex="11"><i class="fa fa-minus"></i> Cancel</button>
    </div>
</div>
