﻿<div class="row">
    <div class="col-md-6">
        <h3>Access Clients {{vm.recordCountDescription()}}</h3>
    </div>
    <div class="col-md-5 pull-right">
        <div class="button-bar">
            <button type="button" class="btn btn-lg btn-primary" data-ng-click="vm.refreshData()" title="Refresh your data">
                <i class="fa fa-refresh"></i> Refresh
            </button>
            <a class="btn btn-lg btn-success" href="accessclient/0">
                <i class="fa fa-plus"></i> Add New
            </a>
        </div>
    </div>
</div>

<form-panel>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group right-inner-addon">
                <input type="search" class="search-bar" placeholder="search by client name and site name..."
                       data-ng-model="vm.dataOperations.search" data-ng-change="vm.searchBy(vm.dataOperations.search)">
            </div>
        </div>
    </div>
</form-panel>

<form-panel ng-if="vm.pagedData.length <= 0">
    <div class="row">
        <div class="col-md-12">
            <h4>No Access Client. Please click 'Add New'.</h4>
        </div>
    </div>
</form-panel>

<div class="row">
    <div class="col-md-12">
        <div>
            <div class="panel-body panel-body-table">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped table-actions" ng-if="vm.pagedData.length > 0">
                        <thead>
                            <tr>
                                <th>
                                    <a href="" ng-click="vm.dataOperations.sortPredicate = 'id'; vm.dataOperations.sortOrder = !vm.dataOperations.sortOrder; vm.getData()">
                                        CSSPMID
                                        <span ng-show="vm.dataOperations.sortPredicate == 'id' && !vm.dataOperations.sortOrder" class="fa fa-caret-down"></span>
                                        <span ng-show="vm.dataOperations.sortPredicate == 'id' && vm.dataOperations.sortOrder" class="fa fa-caret-up"></span>
                                    </a>
                                </th>
                                <th>
                                    <a href="" ng-click="vm.dataOperations.sortPredicate = 'clientname'; vm.dataOperations.sortOrder = !vm.dataOperations.sortOrder; vm.getData()">
                                        Client Name
                                        <span ng-show="vm.dataOperations.sortPredicate == 'clientname' && !vm.dataOperations.sortOrder" class="fa fa-caret-down"></span>
                                        <span ng-show="vm.dataOperations.sortPredicate == 'clientname' && vm.dataOperations.sortOrder" class="fa fa-caret-up"></span>
                                    </a>
                                </th>
                                <th>
                                    <a href="" ng-click="vm.dataOperations.sortPredicate = 'siteName'; vm.dataOperations.sortOrder = !vm.dataOperations.sortOrder; vm.getData()">
                                        Site Name
                                        <span ng-show="vm.dataOperations.sortPredicate == 'siteName' && !vm.dataOperations.sortOrder" class="fa fa-caret-down"></span>
                                        <span ng-show="vm.dataOperations.sortPredicate == 'siteName' && vm.dataOperations.sortOrder" class="fa fa-caret-up"></span>
                                    </a>
                                </th>
                                <th>
                                    <a href="" ng-click="vm.dataOperations.sortPredicate = 'stationName'; vm.dataOperations.sortOrder = !vm.dataOperations.sortOrder; vm.getData()">
                                        Station Name
                                        <span ng-show="vm.dataOperations.sortPredicate == 'stationName' && !vm.dataOperations.sortOrder" class="fa fa-caret-down"></span>
                                        <span ng-show="vm.dataOperations.sortPredicate == 'stationName' && vm.dataOperations.sortOrder" class="fa fa-caret-up"></span>
                                    </a>
                                </th>
                                <th>
                                    <a href="" ng-click="vm.dataOperations.sortPredicate = 'productName'; vm.dataOperations.sortOrder = !vm.dataOperations.sortOrder; vm.getData()">
                                        Product Name
                                        <span ng-show="vm.dataOperations.sortPredicate == 'productName' && !vm.dataOperations.sortOrder" class="fa fa-caret-down"></span>
                                        <span ng-show="vm.dataOperations.sortPredicate == 'productName' && vm.dataOperations.sortOrder" class="fa fa-caret-up"></span>
                                    </a>
                                </th>
                                <th>
                                    <a href="" ng-click="vm.dataOperations.sortPredicate = 'mobileName'; vm.dataOperations.sortOrder = !vm.dataOperations.sortOrder; vm.getData()">
                                        Mobile Name
                                        <span ng-show="vm.dataOperations.sortPredicate == 'mobileName' && !vm.dataOperations.sortOrder" class="fa fa-caret-down"></span>
                                        <span ng-show="vm.dataOperations.sortPredicate == 'mobileName' && vm.dataOperations.sortOrder" class="fa fa-caret-up"></span>
                                    </a>
                                </th>
                                <th>
                                    Edit
                                </th>
                                <th>
                                    Delete
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr data-ng-repeat="o in vm.pagedData">
                                <td>
                                    {{o.id}}
                                </td>
                                <td>
                                    {{o.clientName}}
                                </td>
                                <td>
                                    {{o.siteName}}
                                </td>
                                <td>
                                    {{o.stationName}}
                                </td>
                                <td>
                                    {{o.productName}}
                                </td>
                                <td>
                                    {{o.mobileName}}
                                </td>
                                <td>
                                    <div class="btn-group btn-group-sm">
                                        <button type="submit" class="btn btn-lg btn-primary" title="Edit" ng-click="vm.accessClientEdit(o.id)">
                                            <i class="fa fa-pencil-square-o"></i> Edit
                                        </button>
                                    </div>
                                </td>
                                <td>
                                    <div class="btn-group btn-group-sm">
                                        <button type="submit" class="btn btn-lg btn-danger" title="Delete" ng-click="vm.delete(o)">
                                            <i class="fa fa-trash-o"></i> Delete
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div ng-if="vm.pagedData.length > 0">
    <div class="pagination">
        <ul uib-pagination boundry-links="true"
                    ng-change="vm.getData()"
                    total-items="vm.filteredCount"
                    items-per-page="vm.dataOperations.paging.pageSize"
                    ng-model="vm.dataOperations.paging.currentPage"
                    max-size="vm.dataOperations.paging.maxPagesToShow"
                    class="pagination-small">
        </ul>
        <p class="pull-right padding-bottom-20">{{vm.currentPageDescription()}}</p>
    </div>
</div>
