﻿<form class="form-horizontal" name="frm" novalidate>
    <form-panel panel-heading="Access Client Details">
        <div class="form-group" show-errors>
            <label class="col-md-2">
                Client Name
                <span class="help-block" ng-if="frm.clientname.$error.required">(required)</span>
            </label>
            <div class="col-md-10">
                <input type="text" ng-model="vm.accessClient.clientName" class="form-control" name="clientname"
                       placeholder="Enter Client Name" required/>
            </div>
        </div>

        <div class="form-group" show-errors>
            <label class="col-md-2">
                Site Name
                <span class="help-block" ng-if="frm.sitename.$error.required">(required)</span>
            </label>

            <div class="col-md-10">
                <input type="text" ng-model="vm.accessClient.siteName" class="form-control" name="sitename"
                       placeholder="Enter Site Name" required/>
            </div>
        </div>

        <div class="form-group" show-errors>
            <label class="col-md-2">
                Station Name
                <span class="help-block" ng-if="frm.stationname.$error.required">(required)</span>
            </label>

            <div class="col-md-10">
                <input type="text" ng-model="vm.accessClient.stationName" class="form-control" name="stationname"
                       placeholder="Enter Station Name" required/>
            </div>
        </div>

        <div class="form-group" ng-show="vm.csspmid > 0">
            <label class="col-md-2">
                Product Name
            </label>
            <label class="col-md-10">{{vm.accessClient.productName}}</label>
        </div>

        <div class="form-group" show-errors  ng-hide="vm.csspmid > 0">
            <label class="col-md-2">
                Product Name
                <span class="help-block" ng-if="frm.ddlProduct.$error.required">(required)</span>
            </label>

            <div class="col-md-10">
                <select class="form-control"
                        chosen
                        no-results-text="'Could not find product'"
                        placeholder-text-single="'Please select a Product'"
                        search-contains="true"
                        allow-single-deselect="true"
                        name="ddlProduct"
                        ng-model="vm.accessClient.productName"
                        ng-options="item.value as item.value for item in vm.allProducts" required>
                    <option value=""></option>
                </select>
            </div>
        </div>

        <div class="form-group" show-errors>
            <label class="col-md-2">
                Mobile Name
                <span class="help-block" ng-if="frm.mobilename.$error.required">(required)</span>
            </label>

            <div class="col-md-10">
                <input type="text" ng-model="vm.accessClient.mobileName" class="form-control" name="mobilename"
                       placeholder="Enter Mobile Name" required />
            </div>
        </div>
    </form-panel>
    <div class="button-bar">
        <validation-Message></validation-Message>
        <button type="button" class="btn btn-lg btn-warning" ng-click="vm.cancel()" tabindex="11"><i class="fa fa-minus"></i> Cancel</button>
        <button type="submit" class="btn btn-lg btn-primary" ng-click="vm.save(vm.accessClient,frm)" tabindex="12"><i class="fa fa-save"></i> Save</button>
    </div>
</form>
