﻿<form class="form-horizontal" name="frm" novalidate>
    <!--<form-panel panel-heading="Client Details">-->
    <div class="panel panel-default">
        <div class="panel-heading">Client Details</div>
        <div class="panel-body">
            <div class="form-group" show-errors>
                <label class="col-md-2">
                    Client
                    <span class="help-block" ng-if="frm.ddlClient.$error.required">(required)</span>
                </label>

                <div class="col-md-10">
                    <!--<select class="form-control" ng-model="vm.userAccessPermission.clientId" name="ddlClient" ng-hide="vm.userAccessPermission.id > 0"
                            ng-options="item.key as item.value for item in vm.allClients" ng-change="vm.getUsersByClientid()" required>
                        <option value="">Please select a Client</option>
                    </select>-->

                    <select class="form-control"
                            chosen
                            no-results-text="'Could not find Client'"
                            placeholder-text-single="'Please select a Client'"
                            search-contains="true"
                            allow-single-deselect="true"
                            name="ddlClient"
                            ng-change="vm.getUsersByClientid()"
                            ng-model="vm.userAccessPermission.clientId"
                            ng-options="item.key as item.value for item in vm.allClients" required>
                        <option value=""></option>
                    </select>

                    <label ng-show="vm.userAccessPermission.id > 0">{{vm.userAccessPermission.clientName}}</label>
                </div>
            </div>
            <div class="form-group" show-errors>
                <label class="col-md-2">
                    User
                    <span class="help-block" ng-if="frm.ddlUser.$error.required">(required)</span>
                </label>

                <div class="col-md-10">
                    <!--<select class="form-control" ng-model="vm.userAccessPermission.userId" name="ddlUser" ng-hide="vm.userAccessPermission.id > 0"
                            ng-options="item.key as item.value for item in vm.allUsers"
                            ng-change="vm.getAllProductsFromClientUser()" required>
                        <option value="">Please select a User</option>
                    </select>-->

                    <select class="form-control"
                            chosen
                            no-results-text="'Could not find User'"
                            placeholder-text-single="'Please select a User'"
                            search-contains="true"
                            allow-single-deselect="true"
                            name="ddlUser"
                            ng-change="vm.getAllProductsFromClientUser()"
                            ng-model="vm.userAccessPermission.userId"
                            ng-options="item.key as item.value for item in vm.allUsers" required>
                        <option value=""></option>
                    </select>

                    <label ng-show="vm.userAccessPermission.id > 0">{{vm.userAccessPermission.userName}}</label>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2">Products</label>
                <div class="col-md-10">
                    <div class="columns">
                        <div ng-repeat="product in vm.allProducts">
                            <label class="check">
                                <input type="checkbox" class="icheckbox_minimal-grey" ng-model="product.selected" /> {{product.value}}
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <!--</form-panel>-->
            <div class="button-bar">
                <validation-Message></validation-Message>
                <button type="button" class="btn btn-lg btn-warning" ng-click="vm.cancel()" tabindex="11"><i class="fa fa-minus"></i> Cancel</button>
                <button type="submit" class="btn btn-lg btn-primary" ng-click="vm.save(frm)" tabindex="12"><i class="fa fa-save"></i> Save</button>
            </div>
        </div>
    </div>
</form>