﻿
<div class="row">
    <div class="col-md-6">
        <h3>User Access {{vm.recordCountDescription()}}</h3>
    </div>
    <div class="col-md-5 pull-right">
        <div class="button-bar">
            <a class="btn btn-lg btn-success" href="useraccesspermission/0">
                <i class="fa fa-plus"></i> Add New
            </a>
        </div>
    </div>
</div>

<form name="frm" novalidate>
    <form-panel panel-heading="Search User Access">
        <!--<div class="form-group" show-errors>
            <div class="col-md-5">
                <select class="form-control"
                        chosen
                        no-results-text="'Could not find Client'"
                        placeholder-text-single="'Please select a Client'"
                        search-contains="true"
                        allow-single-deselect="true"
                        name="ddlclient"
                        ng-change="vm.getUsersByClientid()"
                        ng-model="vm.selectedClient"
                        ng-options="item.key as item.value for item in vm.allClients" required>
                    <option value=""></option>
                </select>
                <span class="help-block" ng-if="frm.ddlclient.$error.required">(required)</span>
            </div>

            <div class="col-md-5">
                <select class="form-control"
                        chosen
                        no-results-text="'Could not find User'"
                        placeholder-text-single="'Please select a User'"
                        search-contains="true"
                        allow-single-deselect="true"
                        name="ddluser"
                        ng-model="vm.selectedUser"
                        ng-options="item.key as item.value for item in vm.user" required>
                    <option value=""></option>
                </select>

                <span class="help-block" ng-if="frm.ddluser.$error.required">(required)</span>
            </div>

            <div class="col-md-2">
                <button type="button" class="btn btn-lg btn-cancom" title="Search your data" ng-click="vm.getData(true)">
                    <i class="fa fa-search"></i> Search
                </button>
            </div>
        </div>-->

        <div class="form-group col-md-12" show-errors>
            <label class="col-md-1">
                Client
                <span class="help-block" ng-if="frm.ddlclient.$error.required">(required)</span>
            </label>

            <div class="col-md-11">
                <select class="form-control"
                        chosen
                        responsive-chosen
                        no-results-text="'Could not find Client'"
                        placeholder-text-single="'Please select a Client'"
                        search-contains="true"
                        allow-single-deselect="true"
                        name="ddlclient"
                        ng-change="vm.getUsersByClientid()"
                        ng-model="vm.selectedClient"
                        ng-options="item.key as item.value for item in vm.allClients" required>
                    <option value=""></option>
                </select>
            </div>
        </div>

        <div class="form-group col-md-12" show-errors>
            <label class="col-md-1">
                User
                <span class="help-block" ng-if="frm.ddluser.$error.required">(required)</span>
            </label>

            <div class="col-md-11">
                <select class="form-control"
                        chosen
                        responsive-chosen
                        no-results-text="'Could not find User'"
                        placeholder-text-single="'Please select a User'"
                        search-contains="true"
                        allow-single-deselect="true"
                        name="ddluser"
                        ng-model="vm.selectedUser"
                        ng-options="item.key as item.value for item in vm.user" required>
                    <option value=""></option>
                </select>
            </div>
        </div>

        <div class="form-group col-md-12">
            <div class="col-md-1"></div>
            <div class="col-md-11">
                <button type="button" class="btn btn-lg btn-cancom" title="Search your data" ng-click="vm.getData(true)">
                    <i class="fa fa-search"></i> Search
                </button>
            </div>
        </div>
    </form-panel>
</form>

<form-panel>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group right-inner-addon">
                <input type="search" class="search-bar" placeholder="search by product name and client name..."
                       data-ng-model="vm.dataOperations.search" data-ng-change="vm.searchBy(vm.dataOperations.search)">
            </div>
        </div>
    </div>
</form-panel>

<div class="row">
    <div class="col-md-12">
        <div class="panel-body panel-body-table">
            <div class="table-responsive">
                <table class="table table-bordered table-striped table-actions" ng-if="vm.pagedData.length > 0">
                    <thead>
                        <tr>
                            <th>
                                <a href="" ng-click="vm.dataOperations.sortPredicate = 'useraccessid'; vm.dataOperations.sortOrder = !vm.dataOperations.sortOrder; vm.getData()">
                                    User AccessId
                                    <span ng-show="vm.dataOperations.sortPredicate == 'useraccessid' && !vm.dataOperations.sortOrder" class="fa fa-caret-down"></span>
                                    <span ng-show="vm.dataOperations.sortPredicate == 'useraccessid' && vm.dataOperations.sortOrder" class="fa fa-caret-up"></span>
                                </a>
                            </th>
                            <th>
                                <a href="" ng-click="vm.dataOperations.sortPredicate = 'productid'; vm.dataOperations.sortOrder = !vm.dataOperations.sortOrder; vm.getData()">
                                    Product Id
                                    <span ng-show="vm.dataOperations.sortPredicate == 'productid' && !vm.dataOperations.sortOrder" class="fa fa-caret-down"></span>
                                    <span ng-show="vm.dataOperations.sortPredicate == 'productid' && vm.dataOperations.sortOrder" class="fa fa-caret-up"></span>
                                </a>
                            </th>
                            <th>
                                <a href="" ng-click="vm.dataOperations.sortPredicate = 'productname'; vm.dataOperations.sortOrder = !vm.dataOperations.sortOrder; vm.getData()">
                                    Product Name
                                    <span ng-show="vm.dataOperations.sortPredicate == 'productname' && !vm.dataOperations.sortOrder" class="fa fa-caret-down"></span>
                                    <span ng-show="vm.dataOperations.sortPredicate == 'productname' && vm.dataOperations.sortOrder" class="fa fa-caret-up"></span>
                                </a>
                            </th>
                            <th>
                                <a href="" ng-click="vm.dataOperations.sortPredicate = 'clientid'; vm.dataOperations.sortOrder = !vm.dataOperations.sortOrder; vm.getData()">
                                    Client Id
                                    <span ng-show="vm.dataOperations.sortPredicate == 'clientid' && !vm.dataOperations.sortOrder" class="fa fa-caret-down"></span>
                                    <span ng-show="vm.dataOperations.sortPredicate == 'clientid' && vm.dataOperations.sortOrder" class="fa fa-caret-up"></span>
                                </a>
                            </th>
                            <th>
                                <a href="" ng-click="vm.dataOperations.sortPredicate = 'clientname'; vm.dataOperations.sortOrder = !vm.dataOperations.sortOrder; vm.getData()">
                                    Client Name
                                    <span ng-show="vm.dataOperations.sortPredicate == 'clientname' && !vm.dataOperations.sortOrder" class="fa fa-caret-down"></span>
                                    <span ng-show="vm.dataOperations.sortPredicate == 'clientname' && vm.dataOperations.sortOrder" class="fa fa-caret-up"></span>
                                </a>
                            </th>
                            <th>
                                <a href="" ng-click="vm.dataOperations.sortPredicate = 'userid'; vm.dataOperations.sortOrder = !vm.dataOperations.sortOrder; vm.getData()">
                                    User Id
                                    <span ng-show="vm.dataOperations.sortPredicate == 'userid' && !vm.dataOperations.sortOrder" class="fa fa-caret-down"></span>
                                    <span ng-show="vm.dataOperations.sortPredicate == 'userid' && vm.dataOperations.sortOrder" class="fa fa-caret-up"></span>
                                </a>
                            </th>
                            <th>
                                <a href="" ng-click="vm.dataOperations.sortPredicate = 'username'; vm.dataOperations.sortOrder = !vm.dataOperations.sortOrder; vm.getData()">
                                    User name
                                    <span ng-show="vm.dataOperations.sortPredicate == 'username' && !vm.dataOperations.sortOrder" class="fa fa-caret-down"></span>
                                    <span ng-show="vm.dataOperations.sortPredicate == 'username' && vm.dataOperations.sortOrder" class="fa fa-caret-up"></span>
                                </a>
                            </th>
                            <th>
                                <a href="" ng-click="vm.dataOperations.sortPredicate = 'password'; vm.dataOperations.sortOrder = !vm.dataOperations.sortOrder; vm.getData()">
                                    Password
                                    <span ng-show="vm.dataOperations.sortPredicate == 'password' && !vm.dataOperations.sortOrder" class="fa fa-caret-down"></span>
                                    <span ng-show="vm.dataOperations.sortPredicate == 'password' && vm.dataOperations.sortOrder" class="fa fa-caret-up"></span>
                                </a>
                            </th>
                            <th>
                                Delete
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr data-ng-repeat="o in vm.pagedData">
                            <td>{{o.userAccessId}}</td>
                            <td>{{o.productId}}</td>
                            <td>{{o.productName}}</td>
                            <td>{{o.clientId}}</td>
                            <td>{{o.clientName}}</td>
                            <td>{{o.userId}}</td>
                            <td>{{o.username}}</td>
                            <td>{{o.password}}</td>
                            <td>
                                <div class="btn-group btn-group-sm">
                                    <button type="submit" class="btn btn-lg btn-danger" title="Delete" ng-click="vm.delete(o)">
                                        <i class="fa fa-trash-o"></i> Delete
                                    </button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<form-panel ng-if="vm.pagedData.length <= 0">
    <div class="row">
        <div class="col-md-12">
            <h4>No Items Found.</h4>
        </div>
    </div>
</form-panel>

<div ng-if="vm.pagedData.length > 0">
    <div class="pagination">
        <ul uib-pagination boundry-links="true"
            ng-change="vm.getData()"
            total-items="vm.filteredCount"
            items-per-page="vm.dataOperations.paging.pageSize"
            ng-model="vm.dataOperations.paging.currentPage"
            max-size="vm.dataOperations.paging.maxPagesToShow"
            class="pagination-small"></ul>
        <p class="pull-right padding-bottom-20">{{vm.currentPageDescription()}}</p>
    </div>
</div>
