﻿<form class="form-horizontal" name="frm" novalidate>
    <form-panel panel-heading="Client Details">
        <div class="form-group" show-errors>
            <label class="col-md-2">
                Client Id
                <span class="help-block" ng-if="frm.webclientid.$error.required">(required)</span>
            </label>

            <div class="col-md-10">
                <select chosen
                        class="form-control"
                        name="webclientid"
                        allow-single-deselect="true"
                        data-placeholder-text-single="'Please select a Client Id'"
                        no-results-text="'Could not client id'"
                        ng-model="vm.selectedClient"
                        ng-options="item.key as item.key for item in vm.allClients"
                        ng-change="vm.onClientChange()" required>
                    <option value=""></option>
                </select>
            </div>
        </div>
        <div class="form-group" show-errors>
            <label class="col-md-2">
                Client Name
                <span class="help-block" ng-if="frm.clientname.$error.required">(required)</span>
            </label>
            <div class="col-md-10">
                <input type="text" ng-model="vm.client.clientName" class="form-control" name="clientname"
                       placeholder="Enter Client Name" required ng-minlength="2" />
            </div>
        </div>
        <div class="form-group" show-errors>
            <label class="col-md-2">
                Username
                <span class="help-block" ng-if="frm.username.$error.required">(required)</span>
            </label>
            <div class="col-md-10">
                <input type="text" ng-model="vm.client.username" class="form-control" name="username"
                       placeholder="Enter Username" required ng-minlength="2" />
            </div>
        </div>
        <div class="form-group" show-errors>
            <label class="col-md-2">
                Password
                <span class="help-block" ng-if="frm.password.$error.required">(required)</span>
            </label>
            <div class="col-md-10">
                <input type="text" ng-model="vm.client.password" class="form-control" name="password"
                       placeholder="Enter Client Name" required ng-minlength="2" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2">Products</label>
            <div class="col-md-10">
                <div class="columns">
                    <div ng-repeat="product in vm.allProducts">
                        <label class="check">
                            <input class="icheckbox_minimal-grey" type="checkbox" ng-model="product.selected" /> {{product.name}}
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </form-panel>
    <div class="button-bar">
        <validation-Message></validation-Message>
        <button type="button" class="btn btn-lg btn-warning" ng-click="vm.cancel()" tabindex="11"><i class="fa fa-minus"></i> Cancel</button>
        <button type="submit" class="btn btn-lg btn-primary" ng-click="vm.save(vm.client,frm)" tabindex="12"><i class="fa fa-save"></i> Save</button>
    </div>
</form>