﻿<div class="row">
    <div class="col-md-6">
        <h3>IdTech Access Software</h3>
    </div>
    <div class="col-md-5 pull-right">
        <div class="button-bar">
            <a class="btn btn-lg btn-success" href="uploadidtechaccesssoftware/0">
                <i class="fa fa-plus"></i> Upload
            </a>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title-box">
                    <h3>SAB <span ng-if="vm.sabData.length > 0">({{vm.sabData.length}})</span></h3>
                </div>

                <div class="pull-right">
                    <label class="switch switch-small">
                        <input type="checkbox" ng-init="vm.sabActiveFlag = true" ng-model="vm.sabActiveFlag" ng-change="vm.sabRefreshData()" />
                        <span></span>
                    </label>

                    <ul class="panel-controls" style="margin-top: 2px;">
                        <li>
                            <a href="" ng-click="vm.sabRefreshData()" class="panel-refresh"><span class="fa fa-refresh"></span></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="panel-body panel-body-table">
                <div slim-scroll class="table-responsive scrollTable">
                    <table class="table table-bordered table-striped table-actions" ng-if="vm.sabData.length > 0">
                        <thead>
                            <tr>
                                <th>
                                    <a href="" ng-click="vm.sabDataOperations.sortPredicate = 'fileName'; vm.sabDataOperations.sortOrder = !vm.sabDataOperations.sortOrder; vm.sabPagedData()">
                                        File Name
                                        <span ng-show="vm.sabDataOperations.sortPredicate == 'fileName' && !vm.sabDataOperations.sortOrder" class="fa fa-caret-down"></span>
                                        <span ng-show="vm.sabDataOperations.sortPredicate == 'fileName' && vm.sabDataOperations.sortOrder" class="fa fa-caret-up"></span>
                                    </a>
                                </th>
                                <th>
                                    Uploaded By
                                    <!--<a href="" ng-click="vm.dataOperations.sortPredicate = 'creationTs'; vm.dataOperations.sortOrder = !vm.dataOperations.sortOrder; vm.getData()">
                                        Creation Time
                                        <span ng-show="vm.dataOperations.sortPredicate == 'creationTs' && !vm.dataOperations.sortOrder" class="fa fa-caret-down"></span>
                                        <span ng-show="vm.dataOperations.sortPredicate == 'creationTs' && vm.dataOperations.sortOrder" class="fa fa-caret-up"></span>
                                    </a>-->
                                </th>
                                <th>
                                    <a href="" ng-click="vm.sabDataOperations.sortPredicate = 'creationTs'; vm.sabDataOperations.sortOrder = !vm.sabDataOperations.sortOrder; vm.sabPagedData()">
                                        Uploaded Time
                                        <span ng-show="vm.sabDataOperations.sortPredicate == 'creationTs' && !vm.sabDataOperations.sortOrder" class="fa fa-caret-down"></span>
                                        <span ng-show="vm.sabDataOperations.sortPredicate == 'creationTs' && vm.sabDataOperations.sortOrder" class="fa fa-caret-up"></span>
                                    </a>
                                </th>
                                <th>
                                    <a href="" ng-click="vm.sabDataOperations.sortPredicate = 'active'; vm.sabDataOperations.sortOrder = !vm.sabDataOperations.sortOrder; vm.sabPagedData()">
                                        Active
                                        <span ng-show="vm.sabDataOperations.sortPredicate == 'active' && !vm.sabDataOperations.sortOrder" class="fa fa-caret-down"></span>
                                        <span ng-show="vm.sabDataOperations.sortPredicate == 'active' && vm.sabDataOperations.sortOrder" class="fa fa-caret-up"></span>
                                    </a>
                                </th>
                                <th>
                                    Action
                                    <!--<a href="" ng-click="vm.sabDataOperations.sortPredicate = 'active'; vm.sabDataOperations.sortOrder = !vm.sabDataOperations.sortOrder; vm.sabPagedData()">
                                        Download
                                        <span ng-show="vm.sabDataOperations.sortPredicate == 'active' && !vm.sabDataOperations.sortOrder" class="fa fa-caret-down"></span>
                                        <span ng-show="vm.sabDataOperations.sortPredicate == 'active' && vm.sabDataOperations.sortOrder" class="fa fa-caret-up"></span>
                                    </a>-->
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr data-ng-repeat="o in vm.sabData">
                                <td ng-class="vm.sabActiveFlag == true ? 'successRowColor' : ''">
                                    {{o.fileName}}
                                </td>
                                <td ng-class="vm.sabActiveFlag == true ? 'successRowColor' : ''">
                                    {{o.uploadedBy}}
                                </td>
                                <td ng-class="vm.sabActiveFlag == true ? 'successRowColor' : ''">
                                    {{o.creationTs | date:'dd-MM-yyyy' }} <small> {{o.creationTs | date:'HH:mm a'}} </small>
                                </td>
                                <td ng-class="vm.sabActiveFlag == true ? 'successRowColor' : ''">
                                    {{o.active}}
                                </td>
                                <td>
                                    <div class="btn-group btn-group-sm">
                                        <button type="button" class="btn btn-lg btn-danger" title="Download"
                                                ng-click="vm.downloadFile(o.id, o.fileName)">
                                            <i class="fa fa-download"></i> Download
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <!--<div ng-if="vm.sabPagedData.length > 0">
                    <div class="pagination">
                        <ul uib-pagination boundry-links="true"
                            ng-change="vm.sabGetData()"
                            total-items="vm.filteredCount"
                            items-per-page="vm.dataOperations.paging.pageSize"
                            ng-model="vm.sabDataOperations.paging.currentPage"
                            max-size="vm.sabDataOperations.paging.maxPagesToShow"
                            class="pagination-small"></ul>
                        <p class="pull-right padding-bottom-20">{{vm.currentPageDescription()}}</p>
                    </div>
                </div>-->
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title-box">
                    <h3>All Client <span ng-if="vm.allClientData.length > 0">({{vm.allClientData.length}})</span></h3>
                </div>

                <div class="pull-right">
                    <label class="switch switch-small">
                        <input type="checkbox" ng-init="vm.allClientsActiveFlag = true" ng-model="vm.allClientsActiveFlag" ng-change="vm.allClientGetData()" />
                        <span></span>
                    </label>

                    <ul class="panel-controls" style="margin-top: 2px;">
                        <li><a href="" ng-click="vm.allClientGetData()" class="panel-refresh"><span class="fa fa-refresh"></span></a></li>
                    </ul>
                </div>
            </div>
            <div class="panel-body panel-body-table">
                <div slim-scroll class="table-responsive scrollTable">
                    <table class="table table-bordered table-striped table-actions" ng-if="vm.allClientData.length > 0">
                        <thead>
                            <tr>
                                <th>
                                    File Name
                                    <!--<a href="" ng-click="vm.dataOperations.sortPredicate = 'fileName'; vm.dataOperations.sortOrder = !vm.dataOperations.sortOrder; vm.getData()">
                                        File Name
                                        <span ng-show="vm.dataOperations.sortPredicate == 'fileName' && !vm.dataOperations.sortOrder" class="fa fa-caret-down"></span>
                                        <span ng-show="vm.dataOperations.sortPredicate == 'fileName' && vm.dataOperations.sortOrder" class="fa fa-caret-up"></span>
                                    </a>-->
                                </th>
                                <th>
                                    Uploaded By
                                    <!--<a href="" ng-click="vm.dataOperations.sortPredicate = 'creationTs'; vm.dataOperations.sortOrder = !vm.dataOperations.sortOrder; vm.getData()">
                                        Creation Time
                                        <span ng-show="vm.dataOperations.sortPredicate == 'creationTs' && !vm.dataOperations.sortOrder" class="fa fa-caret-down"></span>
                                        <span ng-show="vm.dataOperations.sortPredicate == 'creationTs' && vm.dataOperations.sortOrder" class="fa fa-caret-up"></span>
                                    </a>-->
                                </th>
                                <th>
                                    Uploaded Time
                                    <!--<a href="" ng-click="vm.dataOperations.sortPredicate = 'creationTs'; vm.dataOperations.sortOrder = !vm.dataOperations.sortOrder; vm.getData()">
                                        Creation Time
                                        <span ng-show="vm.dataOperations.sortPredicate == 'creationTs' && !vm.dataOperations.sortOrder" class="fa fa-caret-down"></span>
                                        <span ng-show="vm.dataOperations.sortPredicate == 'creationTs' && vm.dataOperations.sortOrder" class="fa fa-caret-up"></span>
                                    </a>-->
                                </th>
                                <th>
                                    Active
                                    <!--<a href="" ng-click="vm.dataOperations.sortPredicate = 'active'; vm.dataOperations.sortOrder = !vm.dataOperations.sortOrder; vm.getData()">
                                        Active
                                        <span ng-show="vm.dataOperations.sortPredicate == 'active' && !vm.dataOperations.sortOrder" class="fa fa-caret-down"></span>
                                        <span ng-show="vm.dataOperations.sortPredicate == 'active' && vm.dataOperations.sortOrder" class="fa fa-caret-up"></span>
                                    </a>-->
                                </th>
                                <th>
                                    Download
                                    <!--<a href="" ng-click="vm.sabDataOperations.sortPredicate = 'active'; vm.sabDataOperations.sortOrder = !vm.sabDataOperations.sortOrder; vm.sabPagedData()">
                                        Download
                                        <span ng-show="vm.sabDataOperations.sortPredicate == 'active' && !vm.sabDataOperations.sortOrder" class="fa fa-caret-down"></span>
                                        <span ng-show="vm.sabDataOperations.sortPredicate == 'active' && vm.sabDataOperations.sortOrder" class="fa fa-caret-up"></span>
                                    </a>-->
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr data-ng-repeat="o in vm.allClientData">
                                <td ng-class="vm.allClientsActiveFlag == true ? 'successRowColor' : ''">
                                    {{o.fileName}}
                                </td>
                                <td ng-class="vm.allClientsActiveFlag == true ? 'successRowColor' : ''">
                                    {{o.uploadedBy}}
                                </td>
                                <td ng-class="vm.allClientsActiveFlag == true ? 'successRowColor' : ''">
                                    {{o.creationTs | date:'dd-MM-yyyy' }} <small> {{o.creationTs | date:'HH:mm a'}} </small>
                                </td>
                                <td ng-class="vm.allClientsActiveFlag == true ? 'successRowColor' : ''">
                                    {{o.active}}
                                </td>
                                <td>
                                    <div class="btn-group btn-group-sm">
                                        <button type="button" class="btn btn-lg btn-danger" title="Download"
                                                ng-click="vm.downloadFile(o.id, o.fileName)">
                                            <i class="fa fa-download"></i> Download
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>




