﻿<form class="form-horizontal" name="frm" novalidate>
    <form-panel panel-heading="Upload IdTech Access Software Details">
        <div class="form-group" show-errors>
            <label class="col-md-2">
                Type
                <span class="help-block" ng-if="frm.ddlType.$error.required">(required)</span>
            </label>

            <div class="col-md-6">
                <select class="form-control"
                        chosen
                        no-results-text="'Could not find Type'"
                        placeholder-text-single="'Please select a Type'"
                        search-contains="true"
                        allow-single-deselect="true"
                        name="ddlType"
                        ng-model="vm.uploadIdTechAccessSoftware.type"
                        ng-options="s.key as s.value for s in vm.allTypes" required>
                    <option value=""></option>
                </select>
            </div>
        </div>

        <div class="form-group" show-errors>
            <label class="col-md-2">
                File
                <span class="help-block" ng-if="frm.txtFileInput.$error.required">(required)</span>
            </label>
            <div class="col-md-6">
                <div class="input-group col-md-12">
                    <input id="uploadFile" name="txtFileInput" ng-model="vm.uploaderFileName"
                           class="disableInputField form-control" placeholder="Choose File" readonly="readonly" required/>
                    <span class="input-group-btn">
                        <span class="btn btn-primary btn-file" style="height: 32px;" ng-disabled="btnDisable">
                            <label>
                                <input id="uploadBtn" name="fileInput" type="file" class="upload"
                                       nv-file-select="vm.fileSelect()" nv-file-drop="" uploader="vm.uploader" />
                                Browse
                            </label>
                        </span>
                    </span>
                </div>
                <div class="progress" ng-show="vm.showProgressbar">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" ng-style="{ 'width': vm.uploader.progress + '%' }" style="width: 0%;"></div>
                </div>
            </div>
        </div>

        <div class="form-group" show-errors>
            <label class="col-md-2">
                Version (YYYYMMDD)
                <span class="help-block" ng-if="frm.version.$error.required">(required)</span>
            </label>
            <div class="col-md-6">
                <input type="text" numeric ng-model="vm.uploadIdTechAccessSoftware.version" class="form-control" name="version"
                       placeholder="Enter version" required />
            </div>
        </div>

        <div class="form-group" show-errors>
            <label class="col-md-2">
                Description
                <span class="help-block" ng-if="frm.description.$error.required">(required)</span>
            </label>
            <div class="col-md-6">
                <textarea class="form-control" rows="5" ng-model="vm.uploadIdTechAccessSoftware.description" name="description"
                          placeholder="Enter Description" required></textarea>
            </div>
        </div>
    </form-panel>
    <div class="button-bar">
        <button type="button" class="btn btn-lg btn-warning" ng-click="vm.cancel()" tabindex="11"><i class="fa fa-minus"></i> Cancel</button>
        <button type="submit" class="btn btn-lg btn-primary" ng-click="vm.save(vm.uploadIdTechAccessSoftware,frm)" tabindex="12"><i class="fa fa-save"></i> Save</button>
    </div>
</form>
