﻿<div class="row">
    <div class="col-md-6">
        <h3>Upload Loan Form</h3>
    </div>
</div>

<form class="form-horizontal" name="frm" novalidate>
    <form-panel panel-heading="Search">
        <div class="row">
            <div class="form-group" show-errors>
                <div class="col-md-6">
                    <select class="form-control"
                            chosen
                            no-results-text="'Could not find Client'"
                            placeholder-text-single="'Please select a Client'"
                            search-contains="true"
                            allow-single-deselect="true"
                            name="ddlclient"
                            ng-model="vm.clientId"
                            ng-options="item.companyReg as item.clientName for item in vm.allClients" required>
                        <option value=""></option>
                    </select>

                    <span class="help-block" ng-if="frm.ddlclient.$error.required">(required)</span>
                </div>

                <div class="col-md-6">
                    <button type="button" class="btn btn-lg btn-cancom" title="Search your data" ng-click="vm.search(frm)">
                        <i class="fa fa-search"></i> Search User
                    </button>
                </div>
            </div>
        </div>
    </form-panel>

    <form-panel panel-heading="Upload File" ng-show="vm.clientId > 0">
        <div class="row">
            <div class="col-md-4">
                <div class="input-group col-md-12">
                    <input id="uploadFile" name="txtFileInput" ng-model="vm.uploaderFileName"
                           class="disableInputField form-control" placeholder="Choose File" readonly="readonly"/>
                    <span class="input-group-btn">
                        <span class="btn btn-primary btn-file" style="height: 32px;" ng-disabled="btnDisable">
                            <label>
                                <input id="uploadBtn" name="fileInput" type="file" class="upload"
                                       nv-file-select="vm.fileSelect()" nv-file-drop="" uploader="vm.uploader" />
                                Browse
                            </label>
                        </span>
                    </span>
                </div>
            </div>
            <div class="col-md-2">
                <button type="button" class="btn btn-lg btn-cancom" title="Search your data" ng-model="vm.fileName" ng-click="vm.upload()">
                    <i class="fa fa-save"></i> Submit
                </button>
            </div>
            <div class="col-md-6">
                <div class="panel-body panel-body-table">
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped table-actions" ng-if="vm.fileList.length > 0">
                            <thead>
                                <tr>
                                    <th>
                                        File Name
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr data-ng-repeat="o in vm.fileList">
                                    <td>{{o.value}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </form-panel>

    <form-panel panel-heading="User Information" ng-show="vm.userList.length > 0">
        <div class="row">
            <div class="col-md-12">
                <div class="panel-body panel-body-table">
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped table-actions" ng-if="vm.userList.length > 0">
                            <thead>
                                <tr>
                                    <th>
                                        Client Id
                                    </th>
                                    <th>
                                        User ID
                                    </th>
                                    <th>
                                        Username
                                    </th>
                                    <th>
                                        IsAdmin
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr data-ng-repeat="o in vm.userList">
                                    <td>{{o.clientId}}</td>
                                    <td>{{o.userId}}</td>
                                    <td>{{o.username}}</td>
                                    <td>{{o.isAdmin}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </form-panel>
</form>
