﻿<div>
    <div class="row">
        <div class="col-md-3">
            <div class="widget widget-success widget-item-icon">
                <div class="widget-item-left">
                    <span class="fa fa-user"></span>
                </div>
                <div class="widget-data">
                    <div class="widget-int num-count">{{vm.allClientsCount}}</div>
                    <div class="widget-title">Total Web Clients</div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="widget widget-success widget-item-icon">
                <div class="widget-item-left">
                    <span class="fa fa-mobile"></span>
                </div>
                <div class="widget-data">
                    <div class="widget-int num-count">{{vm.allAccessClientsCount}}</div>
                    <div class="widget-title">Total Access Clients</div>

                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="widget widget-warning widget-item-icon">
                <div class="widget-item-right">
                    <span class="fa fa-mobile"></span>
                </div>
                <div class="widget-data-left">
                    <div class="widget-int num-count">{{vm.activeAccessClientsCount}}</div>
                    <div class="widget-title">Active Access Clients</div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="widget widget-danger widget-item-icon">
                <div class="widget-item-right">
                    <span class="fa fa-mobile"></span>
                </div>
                <div class="widget-data-left">
                    <div class="widget-int num-count">{{vm.inActiveAccessClientsCount}}</div>
                    <div class="widget-title">InActive Access Clients</div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4" ng-show="vm.todayLateTransactions != null">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title-box">
                        <h3>SAB ({{vm.todayLateTransactionsCount}})</h3>
                        <span>Today's late transactions</span>
                    </div>
                    <ul class="panel-controls" style="margin-top: 2px;">
                        <li><a href="" ng-click="vm.getSabTodayLateTransactions(true)" class="panel-refresh"><span class="fa fa-refresh"></span></a></li>
                    </ul>
                </div>
                <div class="panel-body panel-body-table">
                    <div slim-scroll class="table-responsive scrollTable" height="200px">
                        <h3 class="orangeHighlightedText padding-top-20" ng-show="vm.todayLateTransactions.length == 0">No data found !</h3>
                        <table class="table table-bordered table-striped table-actions" ng-if="vm.todayLateTransactions.length > 0">
                            <thead>
                                <tr>
                                    <th>
                                        Site Name
                                    </th>
                                    <th>
                                        Mobile Name
                                    </th>
                                    <th>
                                        Uploaded Time (dd:hh:mm:ss)
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr data-ng-repeat="o in vm.todayLateTransactions">
                                    <td>{{o.siteName}}</td>
                                    <td>{{o.mobileName}}</td>
                                    <td>{{o.uploadedTime}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4" ng-show="vm.yesterdayLateTransactions != null">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title-box">
                        <h3>SAB ({{vm.yesterdayLateTransactionsCount}})</h3>
                        <span>Yesterday's late transactions</span>
                    </div>
                    <ul class="panel-controls" style="margin-top: 2px;">
                        <li><a href="" ng-click="vm.getSabYesterdayLateTransactions(true)" class="panel-refresh"><span class="fa fa-refresh"></span></a></li>
                    </ul>
                </div>
                <div class="panel-body panel-body-table">
                    <div slim-scroll class="table-responsive" height="200px">
                        <h3 class="orangeHighlightedText padding-top-20" ng-show="vm.yesterdayLateTransactions.length == 0">No data found !</h3>
                        <table class="table table-bordered table-striped table-actions" ng-if="vm.yesterdayLateTransactions.length > 0">
                            <thead>
                                <tr>
                                    <th>
                                        Site Name
                                    </th>
                                    <th>
                                        Mobile Name
                                    </th>
                                    <th>
                                        Uploaded Time (dd:hh:mm:ss)
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr data-ng-repeat="o in vm.yesterdayLateTransactions">
                                    <td>{{o.siteName}}</td>
                                    <td>{{o.mobileName}}</td>
                                    <td>{{o.uploadedTime}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4" ng-show="vm.last7DaysLateTransactions != null">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title-box">
                        <h3>SAB ({{vm.last7DaysLateTransactionsCount}})</h3>
                        <span>Last 7 days late transactions</span>
                    </div>
                    <ul class="panel-controls" style="margin-top: 2px;">
                        <li><a href="" ng-click="vm.getSabLast7DaysLateTransactions(true)" class="panel-refresh"><span class="fa fa-refresh"></span></a></li>
                    </ul>
                </div>
                <div class="panel-body panel-body-table">

                    <div slim-scroll class="table-responsive" height="200px">
                        <h3 class="orangeHighlightedText padding-top-20" ng-show="vm.last7DaysLateTransactions.length == 0">No data found !</h3>
                        <table class="table table-bordered table-striped table-actions" ng-if="vm.last7DaysLateTransactions.length > 0">
                            <thead>
                                <tr>
                                    <th>
                                        Site Name
                                    </th>
                                    <th>
                                        Mobile Name
                                    </th>
                                    <th>
                                        Uploaded Time (dd:hh:mm:ss)
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr data-ng-repeat="o in vm.last7DaysLateTransactions">
                                    <td>{{o.siteName}}</td>
                                    <td>{{o.mobileName}}</td>
                                    <td>{{o.uploadedTime}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title-box">
                        <h3>SAB SUMMARY REPORT </h3>
                        <span>{{vm.currentMonthSummary.chartHeading}}</span>
                    </div>
                    <ul class="panel-controls" style="margin-top: 2px;">
                        <li><a href="" ng-click="vm.getCurrentMonthSummaryReport(true)" class="panel-refresh"><span class="fa fa-refresh"></span></a></li>
                    </ul>
                </div>
                <div class="panel-body panel-body-table">
                    <!--<div slim-scroll class="table-responsive" height="270px">
                        <canvas class="chart chart-line padding-top-10"
                                chart-data="vm.currentMonthSummary.chartData"
                                chart-labels="vm.currentMonthLineLabels"
                                chart-series="vm.currentMonthTempSeries"
                                chart-colors="vm.color"
                                chart-options="vm.currentMonthLineOptions"
                                chart-dataset-override="vm.currentMonthLineDatasetOverride"></canvas>
                    </div>-->

                    <div class="line-chart"
                         line-chart
                         parse-time=false
                         line-goal-line-colors='["#D14847"]'
                         line-goals='[2500]'
                         line-data='vm.currentMonthChartDataSummary'
                         line-xkey='scannedDate'
                         line-ykeys='["averageTime"]'
                         line-labels='["averageTime"]'
                         line-colors='["#cc33ff"]'>
                    </div>

                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title-box">
                        <h3>SAB SUMMARY REPORT </h3>
                        <span>{{vm.previousMonthSummary.chartHeading}}</span>
                    </div>
                    <ul class="panel-controls" style="margin-top: 2px;">
                        <li><a href="" ng-click="vm.getPreviousMonthSummaryReport(true)" class="panel-refresh"><span class="fa fa-refresh"></span></a></li>
                    </ul>
                </div>
                <div class="panel-body panel-body-table">
                    <div class="line-chart"
                         line-chart
                         parse-time=false
                         line-goal-line-colors='["#D14847"]'
                         line-goals= '[2500]'
                         line-data='vm.previousMonthChartDataSummary'
                         line-xkey='scannedDate'
                         line-ykeys='["averageTime"]'
                         line-labels='["averageTime"]'
                         line-colors='["#cc33ff"]'>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title-box">
                        <h3>SAB TRANSACTION REPORT</h3>
                        <span>CURRENT MONTH TRANSACTION</span>
                    </div>
                    <ul class="panel-controls" style="margin-top: 2px;">
                        <li><a href="" ng-click="vm.getCurrentMonthSabTransactionsCount(true)" class="panel-refresh"><span class="fa fa-refresh"></span></a></li>
                    </ul>
                </div>
                <div class="panel-body panel-body-table">
                    <div donut-chart="" donut-data="vm.currentMonthDonutchartData" donut-colors="vm.chartColors"></div>

                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title-box">
                        <h3>SAB TRANSACTION REPORT</h3>
                        <span>LAST MONTH TRANSACTION</span>
                    </div>
                    <ul class="panel-controls" style="margin-top: 2px;">
                        <li><a href="" ng-click="vm.getPreviousMonthSabTransactionsCount(true)" class="panel-refresh"><span class="fa fa-refresh"></span></a></li>
                    </ul>
                </div>
                <div class="panel-body panel-body-table">
                    <div donut-chart="" donut-data="vm.lastMonthDonutchartData" donut-colors="vm.chartColors"></div>
                </div>
            </div>
        </div>
    </div>
</div>