﻿<form name="frm" novalidate>
    <form-panel panel-heading="Fine Management">
        <div class="row form-group" show-errors>
            <label class="col-md-2">
                Client Name
                <span class="help-block" ng-if="frm.ddlClient.$error.required">(required)</span>
            </label>
            <div class="col-md-10">
                <select class="form-control"
                        chosen
                        no-results-text="'Could not find Client'"
                        placeholder-text-single="'Please select a Client'"
                        search-contains="true"
                        allow-single-deselect="true"
                        name="ddlClient"
                        ng-model="vm.selectedClient"
                        ng-options="item.key as item.value for item in vm.allClients" required>
                    <option value=""></option>
                </select>
            </div>
        </div>

        <div class="row form-group">
            <label class="col-md-2 check">
                Car Reg <input type="radio" class="iradio_minimal-grey" ng-init="vm.searchValue=1" name="searchValue"
                               ng-value="1" ng-model="vm.searchValue" ng-change="vm.referenceNo = ''">
            </label>
            <div class="col-md-10">
                <input type="text" ng-model="vm.carRegistration" class="form-control" placeholder="Enter Car Reg" ng-disabled="vm.searchValue!=1" />
            </div>
        </div>

        <div class="row form-group">
            <label class="col-md-2 check">
                Reference Number <input type="radio" class="iradio_minimal-grey" name="searchValue" ng-value="2" ng-model="vm.searchValue" ng-change="vm.carRegistration = ''">
            </label>

            <div class="col-md-10">
                <input type="text" ng-model="vm.referenceNo" class="form-control"
                       placeholder="Enter Reference Number" ng-disabled="vm.searchValue!=2" />
            </div>
        </div>

        <div class="row form-group">
            <label class="col-md-2">Fine Types</label>
            <div class="col-md-10">
                <!--<select name="searchCriteria" ng-model="vm.searchCriteria" class="form-control" ng-change="vm.getData(true)">
                    <option value="" selected="selected">All</option>
                    <option value="1">New</option>
                    <option value="2">Bad Id</option>
                    <option value="3">Bad Name</option>
                    <option value="4">Bad Address</option>
                    <option value="5">Electronic</option>
                    <option value="6">Court</option>
                </select>-->

                <select chosen
                        class="form-control"
                        name="searchCriteria"
                        data-placeholder-text-single="'Please select a Fine Types'"
                        no-results-text="'Could not find any Fine Types - '"
                        ng-model="vm.searchCriteria"
                        ng-change="vm.getData(true)">
                    <option value="" selected="selected">All</option>
                    <option value="1">New</option>
                    <option value="2">Bad Id</option>
                    <option value="3">Bad Name</option>
                    <option value="4">Bad Address</option>
                    <option value="5">Electronic</option>
                    <option value="6">Court</option>
                </select>
            </div>
        </div>

        <div class="row form-group">
            <label class="col-md-2"> </label>
            <div class="col-md-10">
                <button type="button" class="btn btn-lg btn-cancom" ng-click="vm.getData(true)" title="Search your data">
                    <i class="fa fa-search"></i> Search
                </button>
            </div>
        </div>
    </form-panel>
</form>
<div class="row" ng-if="vm.pagedData.length > 0">
    <div class="col-md-6">
        <div ng-switch="vm.searchCriteria">
            <div ng-switch-when="1">
                <h3>New Fine {{vm.recordCountDescription()}}</h3>
            </div>
            <div ng-switch-when="2">
                <h3>Bad Id Fine {{vm.recordCountDescription()}}</h3>
            </div>
            <div ng-switch-when="3">
                <h3>Bad Name Fine {{vm.recordCountDescription()}}</h3>
            </div>
            <div ng-switch-when="4">
                <h3>Bad Address Fine {{vm.recordCountDescription()}}</h3>
            </div>
            <div ng-switch-when="5">
                <h3>Electronic Fine {{vm.recordCountDescription()}}</h3>
            </div>
            <div ng-switch-when="6">
                <h3>Court Fine {{vm.recordCountDescription()}}</h3>
            </div>
            <div ng-switch-default>
                <h3>All Fine {{vm.recordCountDescription()}}</h3>
            </div>
        </div>
    </div>
</div>

<form-panel>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group right-inner-addon">
                <input type="search" class="search-bar" placeholder="search by client name and registration number.."
                       data-ng-model="vm.dataOperations.search" data-ng-change="vm.searchBy(vm.dataOperations.search)">
            </div>
        </div>
    </div>
</form-panel>

<div class="row">
    <div class="col-md-12">
        <div class="panel-body panel-body-table">
            <div class="table-responsive">
                <table class="table table-bordered table-striped table-actions" ng-if="vm.pagedData.length > 0">
                    <thead>
                        <tr>
                            <th>
                                <a href="" ng-click="vm.dataOperations.sortPredicate = 'noticeno'; vm.dataOperations.sortOrder = !vm.dataOperations.sortOrder; vm.getData()">
                                    Notice No
                                    <span ng-show="vm.dataOperations.sortPredicate == 'noticeno' && !vm.dataOperations.sortOrder" class="fa fa-caret-down"></span>
                                    <span ng-show="vm.dataOperations.sortPredicate == 'noticeno' && vm.dataOperations.sortOrder" class="fa fa-caret-up"></span>
                                </a>
                            </th>
                            <th>
                                <a href="" ng-click="vm.dataOperations.sortPredicate = 'ranumber'; vm.dataOperations.sortOrder = !vm.dataOperations.sortOrder; vm.getData()">
                                    RA Number
                                    <span ng-show="vm.dataOperations.sortPredicate == 'ranumber' && !vm.dataOperations.sortOrder" class="fa fa-caret-down"></span>
                                    <span ng-show="vm.dataOperations.sortPredicate == 'ranumber' && vm.dataOperations.sortOrder" class="fa fa-caret-up"></span>
                                </a>
                            </th>
                            <th>
                                <a href="" ng-click="vm.dataOperations.sortPredicate = 'carregistration'; vm.dataOperations.sortOrder = !vm.dataOperations.sortOrder; vm.getData()">
                                    Car Registration
                                    <span ng-show="vm.dataOperations.sortPredicate == 'carregistration' && !vm.dataOperations.sortOrder" class="fa fa-caret-down"></span>
                                    <span ng-show="vm.dataOperations.sortPredicate == 'carregistration' && vm.dataOperations.sortOrder" class="fa fa-caret-up"></span>
                                </a>
                            </th>
                            <th>
                                <a href="" ng-click="vm.dataOperations.sortPredicate = 'region'; vm.dataOperations.sortOrder = !vm.dataOperations.sortOrder; vm.getData()">
                                    Region
                                    <span ng-show="vm.dataOperations.sortPredicate == 'region' && !vm.dataOperations.sortOrder" class="fa fa-caret-down"></span>
                                    <span ng-show="vm.dataOperations.sortPredicate == 'region' && vm.dataOperations.sortOrder" class="fa fa-caret-up"></span>
                                </a>
                            </th>
                            <th>
                                <a href="" ng-click="vm.dataOperations.sortPredicate = 'offencedate'; vm.dataOperations.sortOrder = !vm.dataOperations.sortOrder; vm.getData()">
                                    Offence Date
                                    <span ng-show="vm.dataOperations.sortPredicate == 'offencedate' && !vm.dataOperations.sortOrder" class="fa fa-caret-down"></span>
                                    <span ng-show="vm.dataOperations.sortPredicate == 'offencedate' && vm.dataOperations.sortOrder" class="fa fa-caret-up"></span>
                                </a>
                            </th>
                            <th>
                                <a href="" ng-click="vm.dataOperations.sortPredicate = 'metrostatus'; vm.dataOperations.sortOrder = !vm.dataOperations.sortOrder; vm.getData()">
                                    Metro Status
                                    <span ng-show="vm.dataOperations.sortPredicate == 'metrostatus' && !vm.dataOperations.sortOrder" class="fa fa-caret-down"></span>
                                    <span ng-show="vm.dataOperations.sortPredicate == 'metrostatus' && vm.dataOperations.sortOrder" class="fa fa-caret-up"></span>
                                </a>
                            </th>
                            <th>
                                <a href="" ng-click="vm.dataOperations.sortPredicate = 'status'; vm.dataOperations.sortOrder = !vm.dataOperations.sortOrder; vm.getData()">
                                    Status
                                    <span ng-show="vm.dataOperations.sortPredicate == 'status' && !vm.dataOperations.sortOrder" class="fa fa-caret-down"></span>
                                    <span ng-show="vm.dataOperations.sortPredicate == 'status' && vm.dataOperations.sortOrder" class="fa fa-caret-up"></span>
                                </a>
                            </th>
                            <th>
                                View Fine
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr data-ng-repeat="o in vm.pagedData">
                            <td>{{o.noticeNo}}</td>
                            <td>{{o.raNumber}}</td>
                            <td>{{o.carRegistration}}</td>
                            <td>{{o.region}}</td>
                            <td>
                                {{o.offenceDate | date:'dd-MM-yyyy'}} <small> {{o.offenceDate | date:'HH:mm a'}} </small>
                            </td>
                            <td>{{o.metroStatus}}</td>
                            <td>{{o.status}}</td>
                            <td>
                                <div class="btn-group btn-group-sm">
                                    <button type="submit" class="btn btn-lg btn-primary" title="View" ng-click="vm.finemanagementview(o.ticketId)">
                                        <i class="fa fa-eye"></i> View
                                    </button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div ng-if="vm.pagedData.length > 0">
    <div class="pagination">
        <ul uib-pagination boundry-links="true"
            ng-change="vm.getData()"
            total-items="vm.filteredCount"
            items-per-page="vm.dataOperations.paging.pageSize"
            ng-model="vm.dataOperations.paging.currentPage"
            max-size="vm.dataOperations.paging.maxPagesToShow"
            class="pagination-small"></ul>
        <p class="pull-right padding-bottom-20">{{vm.currentPageDescription()}}</p>
    </div>
</div>
