﻿<div ng-class="{'danger': vm.includeDangerHeader}" class="modal-header clearfix">
    <h3 class="modal-title pull-left"><i class="fa fa-desktop"></i> {{vm.title}}</h3>
    <button type="button" class="close pull-right" ng-click="vm.cancel()">&times;</button>
</div>
<div class="modal-body">
    <form class="form-horizontal" name="frm" novalidate>
        <div class="panel panel-default tabs">
            <ul class="nav nav-tabs nav-justified">
                <li class="active"><a data-toggle="tab" ng-init="vm.tabValue=1" ng-value="1" ng-model="vm.tabValue" ng-click="vm.tabValue=1">Fine Info</a></li>
                <li><a data-toggle="tab" ng-value="2" ng-model="vm.tabValue" ng-click="vm.tabValue=2">Fine Images</a></li>
                <li><a data-toggle="tab" ng-value="3" ng-model="vm.tabValue" ng-click="vm.tabValue=3">Return Info</a></li>
                <li><a data-toggle="tab" ng-value="4" ng-model="vm.tabValue" ng-click="vm.tabValue=4">ITC Info</a></li>
                <li><a data-toggle="tab" ng-value="5" ng-model="vm.tabValue" ng-click="vm.tabValue=5">Redirection Info</a></li>
            </ul>
            <div class="panel-body tab-content">
                <div class="tab-pane active" ng-hide="vm.tabValue!=1">
                    <form-panel panel-heading="Fine Information">
                        <div class="form-group col-md-6">
                            <label class="col-md-5">
                                Reference No :
                            </label>

                            <div class="col-md-7">
                                {{vm.fineInfo.referenceNo}}
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="col-md-5">
                                Court Region :
                            </label>

                            <div class="col-md-7">
                                {{vm.fineInfo.courtRegion}}
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="col-md-5">
                                Vehicle Reg :
                            </label>

                            <div class="col-md-7">
                                {{vm.fineInfo.registration}}
                            </div>
                        </div>

                        <div class="form-group col-md-6">
                            <label class="col-md-5">
                                Offence Date :
                            </label>

                            <div class="col-md-7">
                                {{vm.fineInfo.offenceDate}}
                            </div>
                        </div>

                        <div class="form-group col-md-6">
                            <label class="col-md-5">
                                Offence Amount :
                            </label>

                            <div class="col-md-7">
                                {{vm.fineInfo.OffenceAmount}}
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="col-md-5">
                                Discount :
                            </label>

                            <div class="col-md-7">
                                {{vm.fineInfo.discountAmount}}
                            </div>
                        </div>

                        <div class="form-group col-md-6">
                            <label class="col-md-5">
                                Demerit Points :
                            </label>

                            <div class="col-md-7">
                                {{vm.fineInfo.demeritPoints}}
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="col-md-5">
                                Charge Code :
                            </label>

                            <div class="col-md-7">
                                {{vm.fineInfo.chargeCode}}
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="col-md-5">
                                Aarto :
                            </label>

                            <div class="col-md-7">
                                {{vm.fineInfo.isAarto}}
                            </div>
                        </div>

                        <div class="form-group col-md-6">
                            <label class="col-md-5">
                                Is Nag :
                            </label>

                            <div class="col-md-7">
                                {{vm.fineInfo.isNag}}
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="col-md-5">
                                Type :
                            </label>

                            <div class="col-md-7">
                                {{vm.fineInfo.ticketTypeDescription}}
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="col-md-5">
                                Metro Status :
                            </label>

                            <div class="col-md-7">
                                {{vm.fineInfo.MetroStatus}}
                            </div>
                        </div>
                    </form-panel>

                    <div class="row">
                        <div class="col-md-6">
                            <form-panel panel-heading="Status History">
                                <div class="panel-body panel-body-table">
                                    <div class="table-responsive">
                                        <table class="table table-bordered table-striped table-actions" ng-if="vm.fineInfo.fineStatusList.length > 0">
                                            <thead>
                                                <tr>
                                                    <th>
                                                        Status
                                                    </th>
                                                    <th>
                                                        Date
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr data-ng-repeat="o in vm.fineInfo.fineStatusList">
                                                    <td>{{o.status}}</td>
                                                    <td>{{o.date}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </form-panel>
                        </div>
                        <div class="col-md-6">
                            <form-panel panel-heading="Other">
                                <div class="form-group col-md-12">
                                    <label class="col-md-4">
                                        City :
                                    </label>

                                    <div class="col-md-8">
                                        {{vm.fineInfo.cityOrTown}}
                                    </div>
                                </div>

                                <div class="form-group col-md-12">
                                    <label class="col-md-4">
                                        Suburb :
                                    </label>

                                    <div class="col-md-8">
                                        {{vm.fineInfo.suburb}}
                                    </div>
                                </div>

                                <div class="form-group col-md-12">
                                    <label class="col-md-4">
                                        Street :
                                    </label>

                                    <div class="col-md-8">
                                        {{vm.fineInfo.steetName}}
                                    </div>
                                </div>

                                <div class="form-group col-md-12">
                                    <label class="col-md-4">
                                        Other :
                                    </label>

                                    <div class="col-md-8">
                                        {{vm.fineInfo.otherLocationInfo}}
                                    </div>
                                </div>
                            </form-panel>
                        </div>
                    </div>
                </div>

                <div class="tab-pane active" ng-hide="vm.tabValue!=2">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel-body panel-body-table">
                                <div class="table-responsive">
                                    <table class="table table-bordered table-striped table-actions" 
                                           ng-if="vm.fineInfo.fineStatusList.length > 0">
                                        <thead>
                                        <tr>
                                            <th>
                                                First Issue Date
                                            </th>
                                            <th>
                                                Court Date
                                            </th>
                                            <th>
                                                Date Received
                                            </th>
                                            <th>
                                                Action
                                            </th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr data-ng-repeat="item in vm.fineImageDetails">
                                            <td>{{item.firstIssueDate}}</td>
                                            <td>{{item.courtDate}}</td>
                                            <td>{{item.dateRecieved}}</td>
                                            <td>
                                                <button type="button" class="btn btn-primary btn-xs" data-ng-click="vm.viewPdfImage(item.imageId)" title="View Report">
                                                    <i class="fa fa-eye"></i> View Image
                                                </button>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group"></div>

                    <div class="row">
                        <div class="form-group">
                            <div class="col-md-12">
                                <pdf-report iframesrc="vm.pdfUrl"></pdf-report>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tab-pane active" ng-hide="vm.tabValue!=3">
                    <form-panel panel-heading="Offender Details">
                        <div class="form-group col-md-6">
                            <label class="col-md-4">
                                Id Type
                            </label>

                            <div class="col-md-8">
                                <input type="text" ng-model="vm.returnInfo.idDocType" class="form-control" ng-disabled="true" />
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="col-md-4">
                                Offender Id
                            </label>

                            <div class="col-md-8">
                                <input type="text" ng-model="vm.returnInfo.offenderId" class="form-control" ng-disabled="true" />
                            </div>
                        </div>

                        <div class="form-group col-md-6">
                            <label class="col-md-4">
                                Offender Name
                            </label>

                            <div class="col-md-8">
                                <input type="text" ng-model="vm.returnInfo.offenderName" class="form-control" ng-disabled="true" />
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="col-md-4">
                                Offender Surname
                            </label>

                            <div class="col-md-8">
                                <input type="text" ng-model="vm.returnInfo.offendeSurname" class="form-control" ng-disabled="true" />
                            </div>
                        </div>

                        <div class="form-group col-md-6">
                            <label class="col-md-4">
                                Cell
                            </label>

                            <div class="col-md-8">
                                <input type="text" ng-model="vm.returnInfo.offenderCell" class="form-control" ng-disabled="true" />
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="col-md-4">
                                Email
                            </label>

                            <div class="col-md-8">
                                <input type="text" ng-model="vm.returnInfo.offenderEmail" class="form-control" ng-disabled="true" />
                            </div>
                        </div>

                        <div class="form-group col-md-6">
                            <label class="col-md-4">
                                Physical Address
                            </label>

                            <div class="col-md-8">
                                <textarea class="form-control" rows="5" ng-model="vm.returnInfo.firstIssueDate" ng-disabled="true"></textarea>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="col-md-4">
                                Postal Address
                            </label>

                            <div class="col-md-8">
                                <textarea class="form-control" rows="5" ng-model="vm.returnInfo.firstIssueDate" ng-disabled="true"></textarea>
                            </div>
                        </div>

                        <div class="form-group col-md-6">
                            <label class="col-md-4">
                                Return Info Source
                            </label>

                            <div class="col-md-8">
                                <input type="text" ng-model="vm.returnInfo.infoSource" class="form-control" ng-disabled="true" />
                            </div>
                        </div>
                    </form-panel>

                    <form-panel panel-heading="Rental Details">
                        <div class="form-group col-md-6">
                            <label class="col-md-4">
                                RA Number
                            </label>

                            <div class="col-md-8">
                                <input type="text" ng-model="vm.returnInfo.raNumber" class="form-control" ng-disabled="true" />
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="col-md-4">
                                License No
                            </label>

                            <div class="col-md-8">
                                <input type="text" ng-model="vm.returnInfo.clientLicenceNo" class="form-control" ng-disabled="true" />
                            </div>
                        </div>

                        <div class="form-group col-md-6">
                            <label class="col-md-4">
                                Rental Company
                            </label>

                            <div class="col-md-8">
                                <input type="text" ng-model="vm.returnInfo.assRentalComp" class="form-control" ng-disabled="true" />
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="col-md-4">
                                Client No
                            </label>

                            <div class="col-md-8">
                                <input type="text" ng-model="vm.returnInfo.assClientNo" class="form-control" ng-disabled="true" />
                            </div>
                        </div>

                        <div class="form-group col-md-6">
                            <label class="col-md-4">
                                Client Name
                            </label>

                            <div class="col-md-8">
                                <input type="text" ng-model="vm.returnInfo.assClientName" class="form-control" ng-disabled="true" />
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="col-md-4">
                                Branch Code
                            </label>

                            <div class="col-md-8">
                                <input type="text" ng-model="vm.returnInfo.branchCode" class="form-control" ng-disabled="true" />
                            </div>
                        </div>

                        <div class="form-group col-md-6">
                            <label class="col-md-4">
                                Date Rented
                            </label>

                            <div class="col-md-8">
                                <input type="text" ng-model="vm.returnInfo.dateRented" class="form-control" ng-disabled="true" />
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="col-md-4">
                                Time Rented
                            </label>

                            <div class="col-md-8">
                                <input type="text" ng-model="vm.returnInfo.timeRented" class="form-control" ng-disabled="true" />
                            </div>
                        </div>

                        <div class="form-group col-md-6">
                            <label class="col-md-4">
                                Branch Rented
                            </label>

                            <div class="col-md-8">
                                <input type="text" ng-model="vm.returnInfo.branchRented" class="form-control" ng-disabled="true" />
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="col-md-4">
                                Date Rented
                            </label>

                            <div class="col-md-8">
                                <input type="text" ng-model="vm.returnInfo.dateReturned" class="form-control" ng-disabled="true" />
                            </div>
                        </div>

                        <div class="form-group col-md-6">
                            <label class="col-md-4">
                                Time Returned
                            </label>

                            <div class="col-md-8">
                                <input type="text" ng-model="vm.returnInfo.timeReturned" class="form-control" ng-disabled="true" />
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="col-md-4">
                                Branch Returned
                            </label>

                            <div class="col-md-8">
                                <input type="text" ng-model="vm.returnInfo.branchReturned" class="form-control" ng-disabled="true" />
                            </div>
                        </div>
                    </form-panel>
                </div>

                <div class="tab-pane active" ng-hide="vm.tabValue!=4">
                    <div class="col-md-6">
                        <form-panel class="fineManagementPanelHeight" panel-heading="Person Details">
                            <div class="form-group col-md-12">
                                <label class="col-md-4">
                                    Name
                                </label>

                                <div class="col-md-8">
                                    {{vm.itcInfo.surname}}{{vm.itcInfo.forename1}}
                                </div>
                            </div>

                            <div class="form-group col-md-12">
                                <label class="col-md-4">
                                    DOB
                                </label>

                                <div class="col-md-8">
                                    {{vm.itcInfo.dob}}
                                </div>
                            </div>

                            <div class="form-group col-md-12">
                                <label class="col-md-4">
                                    Email Id
                                </label>

                                <div class="col-md-8">
                                    {{vm.itcInfo.email}}
                                </div>
                            </div>
                        </form-panel>
                    </div>

                    <div class="col-md-6">
                        <form-panel class="fineManagementPanelHeight" panel-heading="Contact Details">
                            <div class="form-group col-md-12">
                                <div class="col-md-8">
                                    {{vm.itcInfo.cell1No}}
                                </div>
                            </div>

                            <div class="form-group col-md-12">
                                <div class="col-md-8">
                                    {{vm.itcInfo.cell2No}}
                                </div>
                            </div>

                            <div class="form-group col-md-12">
                                <div class="col-md-8">
                                    {{vm.itcInfo.cell3No}}
                                </div>
                            </div>
                        </form-panel>
                    </div>

                    <div class="col-md-6">
                        <form-panel class="fineManagementPanelHeight" panel-heading="Physical Address 1">
                            <div class="form-group col-md-12">
                                <div class="col-md-8">
                                    {{vm.itcInfo.itcFirstAddr1}}
                                </div>
                            </div>

                            <div class="form-group col-md-12">
                                <div class="col-md-8">
                                    {{vm.itcInfo.itcFirstAddr2}}
                                </div>
                            </div>

                            <div class="form-group col-md-12">
                                <div class="col-md-8">
                                    {{vm.itcInfo.itcFirstAddr3}}
                                </div>
                            </div>

                            <div class="form-group col-md-12">
                                <div class="col-md-8">
                                    {{vm.itcInfo.itcFirstAddr4}}
                                </div>
                            </div>
                        </form-panel>
                    </div>

                    <div class="col-md-6">
                        <form-panel class="fineManagementPanelHeight" panel-heading="Physical Address 2">
                            <div class="form-group col-md-12">
                                <div class="col-md-8">
                                    {{vm.itcInfo.itcSecondAddr1}}
                                </div>
                            </div>

                            <div class="form-group col-md-12">
                                <div class="col-md-8">
                                    {{vm.itcInfo.itcSecondAddr2}}
                                </div>
                            </div>

                            <div class="form-group col-md-12">
                                <div class="col-md-8">
                                    {{vm.itcInfo.itcSecondAddr3}}
                                </div>
                            </div>

                            <div class="form-group col-md-12">
                                <div class="col-md-8">
                                    {{vm.itcInfo.itcSecondAddr4}}
                                </div>
                            </div>
                        </form-panel>
                    </div>

                    <div class="col-md-6">
                        <form-panel class="fineManagementPanelHeight" panel-heading="Physical Address 3">
                            <div class="form-group col-md-12">
                                <div class="col-md-8">
                                    {{vm.itcInfo.itcThirdAddr1}}
                                </div>
                            </div>

                            <div class="form-group col-md-12">
                                <div class="col-md-8">
                                    {{vm.itcInfo.itcThirdAddr2}}
                                </div>
                            </div>

                            <div class="form-group col-md-12">
                                <div class="col-md-8">
                                    {{vm.itcInfo.itcThirdAddr3}}
                                </div>
                            </div>

                            <div class="form-group col-md-12">
                                <div class="col-md-8">
                                    {{vm.itcInfo.itcThirdAddr4}}
                                </div>
                            </div>
                        </form-panel>
                    </div>

                    <div class="col-md-6">
                        <form-panel class="fineManagementPanelHeight" panel-heading="Physical Address 4">
                            <div class="form-group col-md-12">
                                <div class="col-md-8">
                                    {{vm.itcInfo.itcFourthAddr1}}
                                </div>
                            </div>

                            <div class="form-group col-md-12">
                                <div class="col-md-8">
                                    {{vm.itcInfo.itcFourthAddr2}}
                                </div>
                            </div>

                            <div class="form-group col-md-12">
                                <div class="col-md-8">
                                    {{vm.itcInfo.itcFourthAddr3}}
                                </div>
                            </div>

                            <div class="form-group col-md-12">
                                <div class="col-md-8">
                                    {{vm.itcInfo.itcFourthAddr4}}
                                </div>
                            </div>
                        </form-panel>
                    </div>
                </div>

                <div class="tab-pane active" ng-hide="vm.tabValue!=5">
                    <form-panel panel-heading="Offender Details">
                        <div class="form-group col-md-6">
                            <label class="col-md-4">
                                Id Type
                            </label>

                            <div class="col-md-8">
                                <input type="text" ng-model="vm.redirectionInfo.Id" class="form-control" ng-disabled="true" />
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="col-md-4">
                                Offender Id
                            </label>

                            <div class="col-md-8">
                                <input type="text" ng-model="vm.redirectionInfo.offenderId" class="form-control" ng-disabled="true" />
                            </div>
                        </div>

                        <div class="form-group col-md-6">
                            <label class="col-md-4">
                                Offender Name
                            </label>

                            <div class="col-md-8">
                                <input type="text" ng-model="vm.redirectionInfo.offenderName" class="form-control" ng-disabled="true" />
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="col-md-4">
                                Offender Surname
                            </label>

                            <div class="col-md-8">
                                <input type="text" ng-model="vm.redirectionInfo.offendeSurname" class="form-control" ng-disabled="true" />
                            </div>
                        </div>

                        <div class="form-group col-md-6">
                            <label class="col-md-4">
                                Cell
                            </label>

                            <div class="col-md-8">
                                <input type="text" ng-model="vm.redirectionInfo.offenderCell" class="form-control" ng-disabled="true" />
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="col-md-4">
                                Email
                            </label>

                            <div class="col-md-8">
                                <input type="text" ng-model="vm.redirectionInfo.offenderEmail" class="form-control" ng-disabled="true" />
                            </div>
                        </div>

                        <div class="form-group col-md-6">
                            <label class="col-md-4">
                                Physical Address
                            </label>

                            <div class="col-md-8">
                                <textarea class="form-control" rows="5" ng-model="vm.redirectionInfo.firstIssueDate" ng-disabled="true"></textarea>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="col-md-4">
                                Postal Address
                            </label>

                            <div class="col-md-8">
                                <textarea class="form-control" rows="5" ng-model="vm.redirectionInfo.firstIssueDate" ng-disabled="true"></textarea>
                            </div>
                        </div>

                        <div class="form-group col-md-6">
                            <label class="col-md-4">
                                Return Info Source
                            </label>

                            <div class="col-md-8">
                                <input type="text" ng-model="vm.redirectionInfo.infoSource" class="form-control" ng-disabled="true" />
                            </div>
                        </div>
                    </form-panel>

                    <form-panel panel-heading="Rental Details">
                        <div class="form-group col-md-6">
                            <label class="col-md-4">
                                RA Number
                            </label>

                            <div class="col-md-8">
                                <input type="text" ng-model="vm.redirectionInfo.raNumber" class="form-control" ng-disabled="true" />
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="col-md-4">
                                License No
                            </label>

                            <div class="col-md-8">
                                <input type="text" ng-model="vm.redirectionInfo.clientLicenceNo" class="form-control" ng-disabled="true" />
                            </div>
                        </div>

                        <div class="form-group col-md-6">
                            <label class="col-md-4">
                                Rental Company
                            </label>

                            <div class="col-md-8">
                                <input type="text" ng-model="vm.redirectionInfo.assRentalComp" class="form-control" ng-disabled="true" />
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="col-md-4">
                                Client No
                            </label>

                            <div class="col-md-8">
                                <input type="text" ng-model="vm.redirectionInfo.assClientNo" class="form-control" ng-disabled="true" />
                            </div>
                        </div>

                        <div class="form-group col-md-6">
                            <label class="col-md-4">
                                Client Name
                            </label>

                            <div class="col-md-8">
                                <input type="text" ng-model="vm.redirectionInfo.assClientName" class="form-control" ng-disabled="true" />
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="col-md-4">
                                Branch Code
                            </label>

                            <div class="col-md-8">
                                <input type="text" ng-model="vm.redirectionInfo.branchCode" class="form-control" ng-disabled="true" />
                            </div>
                        </div>

                        <div class="form-group col-md-6">
                            <label class="col-md-4">
                                Date Rented
                            </label>

                            <div class="col-md-8">
                                <input type="text" ng-model="vm.redirectionInfo.dateRented" class="form-control" ng-disabled="true" />
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="col-md-4">
                                Time Rented
                            </label>

                            <div class="col-md-8">
                                <input type="text" ng-model="vm.redirectionInfo.timeRented" class="form-control" ng-disabled="true" />
                            </div>
                        </div>

                        <div class="form-group col-md-6">
                            <label class="col-md-4">
                                Branch Rented
                            </label>

                            <div class="col-md-8">
                                <input type="text" ng-model="vm.redirectionInfo.branchRented" class="form-control" ng-disabled="true" />
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="col-md-4">
                                Date Rented
                            </label>

                            <div class="col-md-8">
                                <input type="text" ng-model="vm.redirectionInfo.dateReturned" class="form-control" ng-disabled="true" />
                            </div>
                        </div>

                        <div class="form-group col-md-6">
                            <label class="col-md-4">
                                Time Returned
                            </label>

                            <div class="col-md-8">
                                <input type="text" ng-model="vm.redirectionInfo.timeReturned" class="form-control" ng-disabled="true" />
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="col-md-4">
                                Branch Returned
                            </label>

                            <div class="col-md-8">
                                <input type="text" ng-model="vm.redirectionInfo.branchReturned" class="form-control" ng-disabled="true" />
                            </div>
                        </div>
                    </form-panel>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <div class="button-bar button-bar-modal">
        <button type="button" class="btn btn-lg btn-warning" ng-click="vm.cancel()" tabindex="11"><i class="fa fa-minus"></i> Cancel</button>
    </div>
</div>
